{% extends "_notIndex.html" %}

{% block title %}{{ user }}'s Home Page{% endblock %}

{% block bodycontent %}
Welcome to your personal homepage, {{ user }}!<br /><br />
{% if driverides %}
You are listed to drive for the following rides:<br /><br />

<table border="3" id="driveRidesTable">
<tr><th>From</th>
  <th>To</th>
  <th>Time of Departure</th>
  <th>Passengers</th>
  <th>Delete?</th>
</tr>
{% for r in driverides %}
<tr><td>{{ r.start_point_title }}</td>
    <td>{{ r.destination_title }}</td>
    <td>{{ r.part_of_day }} {{ r.ToD }}</td>
    <td><table border="0">
      {% for p in r.passengers %}
      <tr><td>{{ p.name }}</td></tr>
      {% endfor %}</table></td>
    <td><a href='/rideinfo?key={{ r.key }}'>More Info</a><br /><input type="button" value="Delete" onclick="if(confirm('Are you sure you want to delete this ride?')) location.href='/deleteride?key={{r.key}}'" /></td>
</tr>
{% endfor %}
</table><br /><br />
{% else %}
You are not listed as a driver for any rides.<br /><br />
{% endif %}
{% if passengerrides %}
You are listed as a passenger for the following rides:<br /><br />

<table border="3" id="passengerRidesTable">
<tr><th>Driver</th>
  <th>From</th>
  <th>To</th>
  <th>Time of Departure</th>
  <th>Passengers</th>
  <th>Remove?</th>
</tr>
{% for r in passengerrides %}
<tr><td>{{ r.driver }}</td>
    <td>{{ r.start_point_title }}</td>
    <td>{{ r.destination_title }}</td>
    <td>{{ r.part_of_day }} {{ r.ToD }}</td>
    <td><table border="0">
        {% for p in r.passengerobjects %}
      <tr><td>{{ p.name }}</td></tr>
        {% endfor %}
      </table></td>
    <td><a href='/rideinfo?key={{ r.key }}'>More Info</a><br /><input type="button" value="Remove" onclick="if(confirm('Are you sure you want to remove yourself from this ride?')) location.href='/removepassenger?key={{ r.key }}'" /></td>
</tr>
{% endfor %}
</table>
{% else %}
You are not listed as a passenger for any rides.
{% endif %}
{% endblock %}
