{% extends "base.html" %}

{% block title %}
    Registration Complete
{% endblock %}

{% block titlebar %}
    <h1>Registration Almost Complete</h1>
{% endblock %}

{% block content %}

{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<p>Your registration is almost complete.  You will soon receive a confirmation email.  
    Click on the link in the email to complete your registration process.
</p>

<p>Thank you for using Decorah RideShare!
</p>

{% endblock %}