{% extends "base.html" %}

{% block title %}
    New User Registration
{% endblock %}

{% block titlebar %}
    <h1>New User Registration</h1>
{% endblock %}


{% block navcontent %}
    Register for Decorah Rideshare
{% endblock %}

{% block content %}
<p>Please Fill out all of the information requested below.  After filling out 
    this form you will receive an email confirmation with a link to click on to
    complete the registration process.</p>
{% if form.has_errors %}
<p>Your registration failed</p>
{% endif %}

<form method="post" action=".">
<table>
    {{form.as_table}}
</table>

<center><input type="submit" value="Register Me" /></center>
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><strong>Disclaimer</strong>  By registering to use this website you assume all responsibility to use it with common
sense.  DecorahRideshare.com is a non-profit website.  It is here to promote ride sharing to help
our environment.  By Registering, you agree that Decorah Rideshare and its creators will not be held liable if you are injured in any way by sharing a ride
 through the use of this site.</p>

{% endblock %}