
<html>
<head>

    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="/main">{{college.name}} Rideshare   </a></h1>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li>
                    <a href="/home">Your Rides</a>
                </li>
                <li>
                    <a href="/static/help.html">Help</a>
                </li>
                <li>
                    <a href="{{logout}}">Sign out</a>
                </li>
            </ul>
        </div>

        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">    
                    <div id="content">

                        

                            {% if ratingslist %}
                            <h2>{{name}} has been rated by {{numrates}} passenger(s),and has an average rating of {{rating}}/5</h2>

                             
                            <p>See what other users had to say about their experience with {{name}}:</p>
                            <table border='1'>
                            <tr><th>Comments</tr></th>
                            {% for comment in ratingslist %}

                            <tr><td>{{comment}}</td>
                            </tr>
                            {% endfor %}
                            </table>

                            {% else %}<p> This driver has not been rated yet.</p>
                            {% endif %}




                                    </div> <!--content-->
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>

                    <div id="footer">
                        <p>Developed by Luther College</p>
                    </div>
                </body>
                </html>

