{% extends "_notIndex.html" %}

{% block title %}{{ user }}'s Home Page{% endblock %}

{% block bodycontent %}
<style type="text/css">
table.passenger {padding-left:50px;}
h4, h3, h2 {margin-bottom: 10px;}

html {
  background: #4C75AE;
}
</style>

{% if ratingslist %}
<h2>{{name}} has been rated by {{numrates}} passenger(s),and has an average rating of {{rating}}/5</h2>

 
<p>See what other users had to say about their experience with {{name}}:</p>
<table border='1'>
<tr><th>Comments</tr></th>
{% for comment in ratingslist %}

<tr><td>{{comment}}</td>
</tr>
{% endfor %}
</table>

{% else %}<p> This driver has not been rated yet.</p>
{% endif %}
{% endblock %}
