{% extends "_notIndex.html" %}

{% block title %}{{ user.nickname }}'s Home Page{% endblock %}

{% block bodycontent %}
<style type="text/css">
table.passenger {padding-left:50px;}
h4, h3, h2 {margin-bottom: 10px;}

html {
}
</style>

<h2>Edit this Ride</h2>
<form method="post" action="/applyedits">
<p>Starting Point: {{ride.start_point_title}}</p>
<p>Ending Point: {{ride.destination_title}}</p>
<p>Time: 
<select name="earlylate" id="earlylate">
<option value="0" 
{% ifequal earlylate "Early" %}
selected="true"
{% endifequal %}
>Early</option>
<option value="1" 
{% ifequal earlylate "Late" %}
selected="true"
{% endifequal %}
>Late</option>
</select>

<select name="partofday" id="partofday">
<option value="0"
{% ifequal mae "Morning" %}
selected="true"
{% endifequal %}
>
Morning</option>
<option value="1"
{% ifequal mae "Afternoon" %}
selected="true"
{% endifequal %}
>
Afternoon</option>
<option value="2"
{% ifequal mae "Evening" %}
selected="true"
{% endifequal %}
>
Evening</option>
</select>
{{ride.ToD|date:"M d Y" }}</p>

<p>Contact Number: <input type="text" name="contact" value="{{ride.contact}}"></P>
<p>Comments: <input type="text" name="ridecomment" value="{{ride.comment}}"></p>

<p>Maximum Passengers<input type="text" name="numpass" value="{{ride.max_passengers}}"></p>
<p>Passengers:<br />
{% for p in plist %}
{{p.nickname}} <br />
{% endfor %}
</p>
<input type="hidden" name="key" value="{{ride.key}}">
<p><input type="button" name="delete" value="Delete" onclick="if(confirm('Are you sure you want to delete this ride?')) location.href='/deleteride?key={{ ride.key }}'" > 
<input type="submit" name="submit" value="submit"></p>
</form>
{% endblock %}
