{% extends "_notIndex.html" %}

{% block bodycontent %}
<style type="text/css">
table.passenger {padding-left:50px;}
h4, h3, h2 {margin-bottom: 10px;}

html {
  background: #4C75AE;
}
</style>

<h2>Rate Your Driver </h2>

<p>Let us know what you thought of {{driver}} </p>


<p>Rate Your Driver Out of 5</p>


</table>
<form name="aform" action="/submittext" method="post" >
<input type="radio" name="ooFrating" value="1"/>1<br />
<input type="radio" name="ooFrating" value="2"/>2<br />
<input type="radio" name="ooFrating" value="3"/>3<br />
<input type="radio" name="ooFrating" value="4"/>4<br />
<input type="radio" name="ooFrating" value="5"/>5<br />
<textarea name="ratetext" rows="20" cols="50"></textarea>
<input type="submit" value="Submit">
<input type="hidden" name="driver" value="{{drivernum}}">
</form>


{% endblock %}
