{% extends "_notIndex.html" %}

{% block title %}Success{% endblock %}

{% block bodycontent%}
<h1>Congratulations, you have created a new Ride</h1>

<p>Maximum passengers: {{ maxp }}</p>
<p>Number of passengers: {{ num_passengers }}</p>
<p>Driver: {{ driver }}</p>
<p>Starting Info: {{ startloc }} | {{ startlong }} | {{ startlat }}</p>
<p>Destination Info: {{ dest }} | {{ destlong }} | {{ destlat }}</p>
<p>Time of Departure: {{ partofday }} | {{ ToD }}</p>
<p>Contact Number: {{ contact }}</p>
{% endblock %}
