<html>
<body>
<h1>Hello!</h1>

<p>You have been invited to join Ridecircles, a new approach to ridesharing built on existing social groups.</p>
<p>Create a circle. Invite your friends. Share rides with Ridecircles. It is a webapp for sports teams, workplaces, and friend groups to share rides.</p>
<p>{{sender_name}} has invited you to join their circle.</p>
<p>To join this circle, click on the link.</p>

<p>You have been invited to {{circle_name}} circle! <a href="{{url}}/circle/{{circle_id}}/invited">Click here to join! »</a></p>

<p>Happy Ride-sharing!</p>

<p>The Ridecircles Team</p>
</body>
</html>