<html>
<body>
	<h1>Dear {{user_name}},</h1>

	<p><a href="http://ridecircles.us/user/{{driver_id}}">{{driver_name}}</a> has edited the shared ride details for your ride to <a href="http://ridecircles.us/event/{{event_id}}">{{event_name}}</a> in <a href="http://ridecircles.us/circle/{{circle_id}}">{{circle_name}}</a>. Please visit the <a href="http://ridecircles.us/ride/{{ride_id}}">ride</a> to check it out.</p>

	<p>Thanks, and Happy Ride-sharing!</p>
	<p>The Ridecircles Team</p>
</body>
</html>