{% extends "marketing/layout.html" %}

{% block title %}Ridecircles{% endblock %}

{% block main %}
    {% if invite %}
    <div class="invite">
        <h1>You have been invited to Ridecircles.</h1>
        <p class="lead">You have been asked to join the {{invite.name}} circle. Please login or register.</p>
            <a href="/login" class="btn btn-xl">Login</a>
            <a href="/login" class="btn btn-xl">Register</a>
        </div>
    </div>
    {% endif %}
    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-lead-in">Ridecircles</div> -->
                <div class="intro-heading">Ride Sharing. Your Way.</div>
                <a href="#services" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="why_ridecircles">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who are Ridecircles for?</h2>
                    <h3 class="section-subheading text-muted">Circles are for tight knit groups</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Teams & Clubs</h4>
                    <p class="text-muted">Create a circle for your team and easily organize rides to your events</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Employers & Workplaces</h4>
                    <p class="text-muted">Simplify commuting to work by joining a circle</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Your Group</h4>
                    <p class="text-muted">There are limitless possibilites. Create a circle for your group and make sharing rides easier</p>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Ridecircles?</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/icons/efficient_3722.png" class='split-image' alt="">
                </div>
                <div class="col-md-8">
                    <h3>Be efficient</h3>
                    <p>It is common that we find ourselves asking why do we drive to that place everyday. Ridecircles are meant for people who commonly go to the same place so it is easy to share.</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <h3>Know you are in good company</h3>
                    <p>Ridecircles are for groups of friends that you are comfortable to share rides with. You know that the people you are riding with can be trusted.</p>
                </div>
                <div class="col-md-4">
                    <img src="/static/icons/company_60848.png" class='split-image' alt="">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="/static/icons/manage_43248.png" class='split-image' alt="">
                </div>
                <div class="col-md-8">
                    <h3>Manage your group with one site</h3>
                    <p>Enter a list of emails to invite your group. Keep everyone current by sending them group messages in Ridecircles.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">How to use Ridecircles</h2>
                    <h3 class="section-subheading text-muted">It is pretty simple.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img src="/static/icons/become_member.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Become a member of Ridecircles.us</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>It is common that we find ourselves asking why do we drive to that place everyday. Ridecircles are meant for people who commonly go to the same place so it is easy to share.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/static/icons/search_rides.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Find Circles</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>You can create a new circle and invite friends, your team, and workplace or you can join a pre-existing circle.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img src="/static/icons/find_circles.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Share Rides & Events</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Create events, offer and join rides with a few quick clicks. Find the rides that are most convient for you.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/static/icons/enjoy.png">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Enjoy the Ride</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>You have saved money, been kind to the planet, and taken hassle out of your life. Give yourself a pat on the back.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
