html {
	position: relative;
	height: 100%;
	min-height: 100%;
}

body {
	height: 100%;
	padding-top: 70px;
	margin-bottom: 60px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 60px;
	border-top: 1px solid #5E5E5E;
	line-height: 60px;
}

template {
	display: none;
}

#map_canvas {
	height: 675px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.guide {
	height: 60px;
	background-color: #F8F8F8;
	width: 100%;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 10px 0px;
}

.guide ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.guide li {
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	color: #5E5E5E;
}

.guide .active {
	/*//padding-bottom: 12px;*/
	border-bottom: 2px solid #DD4B39;
	color: #333;
}

.guide span {
	line-height: 60px;
	font-size: 24px;
}

.guide i {
	line-height: 60px;
	font-size: 20px;
}

.map_con {
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

/* Spin Kit */
.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
