body {
	/*margin-bottom: 60px;*/
    overflow: auto;
    padding-top: 70px;
    color: #262626;
}

#output img {
    width: 300px;
}

img {
    max-width: 100%;
}

/* Chip */
.chip {
    background-color: #E7E7E7;
    color: #7F7F7F;
    border-radius: 10px;
    font-size: 18px;
    line-height: 32px;
    height: 32px;
    margin: 3px 0px 3px 0px;

}
.chip .ind {
    border-radius: 4px;
    color: #424242;
    font-size: 24px;
    line-height: 32px;
    vertical-align: top;
    display: inline-block;
    margin-left: 10px;
    margin-right: 2px;

}
.chip .name {
    display: inline-block;
}
/* End Chip */

/* List */
.list {
    /*padding: 10px 0px;*/
    margin-top: 20px;
}

.list:last-child {
    margin-bottom: 20px;
}

.list .ctx {
    width: 40px;
    display: inline-block;
    font-size: 24px;
    color: white;
    background-color: #B2B2B2;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    vertical-align: top;
}

.list .info {
    display: inline-block;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #B2B2B2;
    margin-left: 15px;
    width: calc(100% - 81px);
}

.list .title {
    font-size: 20px;
    line-height: 30px;
    color: #4D4D4D;
}

.list .title a {
    color: #3F51B5;
}

.list .sub {
    font-size: 15px;
    line-height: 28px;
    color: #616161;
}

.list .sub i {
    padding: 0px 3px;
}

/* End */

/* Noti Badge */
.nbadge {
    position: absolute;
    right: 5px;
    bottom: 7px;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    text-align: center;
    background-color: #5677FC;
    border-radius: 3px;
}
/* End */

/* Location selection */
.locsec {

}
.locsec h1 {
    font-size: 24px;
    font-weight: 300;
}
.locsec h2 {
    font-size: 18px;
    font-weight: 200;
    color: #212121;
}
.locsec ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.locsec li {
    border-top: 1px solid #212121;
    padding: 0px 0px 15px 0px;
}
/*.locsec li:first-child {
    border-top: none;
    padding: 0px 0px 15px 0px;
}*/
/* End */

.comments a {
    text-decoration: none;
}

.key {
    display: inline;
    border-right: 1px solid #534A9A;
    padding: 0px 15px 0px 15px;
}

.key:first-child {
    padding-left: 0px;
}

.key:last-child {
    border: none;
}

.nav-sub {
    margin-bottom: 15px;
}

.panel-no {
    padding: 0px;
}

.panel-main {
    border-color: #534A9A;
}

.panel-main .panel-heading {
/*    background-color: #534A9A;
    border-color: #534A9A;*/
    background-color:  #3F51B5;
    border-color:  #3F51B5;
    color: #FFFFFF;
}

.panel-message {
    padding: 15px;
}

.information {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.information li {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    line-height: 32px;
    color: #212121;
}

.information b {
    font-weight: 400;
    color: #757575;
}

.icon {
    margin: 7px 0px 3px 0px;
    padding-left: 15px;
    height: 35px;
    display: inline-block;
    float: left;
}

.navbar-brand {
    display: inline-block;
    line-height: 30px;
    padding: 10px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 16px;
}

.marker {
    height: 35px;
    color: white;
    fill: white;
    stroke: white;
}

.block {
    width: 100%;
    display: block;
    overflow: auto;
    border-bottom: 1px solid #534A9A;
    padding: 15px;
}

.block:last-child {
    border-bottom: none;
}

.block .title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    display: block;
}

/*.block .title a {
    color: #262626;
    text-decoration: underline;
}*/

.small a {
    font-size: 16px;
}

.block .details {
    display: block;
    color: #5A5A5A;
}

.block .details i {
    margin: 0px 3px 0px 3px;
}

/*.block .deta a {
    color: #5A5A5A;
}*/

.block .details .deta:first-child i {
    margin: 0px 3px 0px 0px;
}

.block .deta {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 60px;
	border-top: 1px solid #5E5E5E;
	line-height: 60px;
}

template {
	display: none;
}

#map_canvas {
	height: 675px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#map_event {
    height: 300px;
    width: 100%;
}

.entry {
    overflow: auto;
    line-height: 22px;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.guide {
	height: 60px;
	background-color: #F8F8F8;
	width: 100%;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 10px 0px;
}

.guide ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.guide li {
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	color: #5E5E5E;
    line-height: 60px;
    font-size: 24px;
}

.guide .active {
	/*//padding-bottom: 12px;*/
	border-bottom: 2px solid #DD4B39;
	color: #333;
}

.map_con {
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

/* Switch */
.switch {
    display: inline-block;
    float: right;
    width: 80px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #4E5665;
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.switch .true,
.switch .true_padding,
.switch .false,
.switch .false_padding {
    cursor: pointer;
    line-height: 30px;
    color: #FFFFFF;
    width: 40px;
    position: absolute;
    transition-property: left;
    transition-duration: 1s;
    transition-delay: .1s;
}

.switch .true, .switch .false {
    font-size: 10px;
    text-align: center;
    background: rgba(43,108,179,1);
    background: -moz-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,108,179,1)), color-stop(100%, rgba(4,75,143,1)));
    background: -webkit-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -o-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -ms-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: linear-gradient(to bottom, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6cb3', endColorstr='#044b8f', GradientType=0 );
}

.switch[data-switch='true'] .true,
.switch[data-switch='false'] .false {
    left: 40px;
}

.switch[data-switch='true'] .true_padding,
.switch[data-switch='false'] .false {
    left: 0px;
}

.switch[data-switch='true'] .false {
    left: -80px;
}

.switch[data-switch='true'] .false {
    left: -40px;
}

.switch[data-switch='false'] .true {
    left: 120px;
}

.switch[data-switch='false'] .true_padding {
    left: 80px;
}
/* End */

.ntabs {
    background-color: #303F9F;
    list-style: none;
    padding: 0;
    margin: 0px 0px 15px 0px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.ntabs li {
    line-height: 45px;
    font-size: 17px;
    display: table-cell;
    width: 100%;
    color: #C5CAE9;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.ntabs .active {
    color: white;
    border-bottom: solid 3px white;
}

.ntabs li a {
    color: inherit;
    display: block;
}

@media (max-width: 768px) {
    body {
        padding-top: 50px;
    }
    .container {
        padding: 0px;
    }
    .navbar .container {
        padding: 0px 15px 0px 15px;
    }
    .navbar {
        margin-bottom: 0px;
    }
    .panel {
        margin-bottom: 0px;
    }
    .panel, .panel-heading {
        border-radius: 0px;
    }
    .alert {
        border-radius: 0px;
        margin: 0px;
    }
    #map_canvas {
        padding-right: 20px;
    }
    .padding {
        padding: 0px 15px 0px 15px;
    }
    #map_canvas {
        height: 300px;
    }
    .col-md-4 {
        margin: 10px 15px 10px 15px;
    }
    .ntabs li {
        font-size: 12px;
    }
}

/*.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-query {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}*/
.twitter-typeahead {
    vertical-align: top;
}
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
margin-bottom: 0;
}
.tt-hint {
display: block;
width: 100%;
height: 38px;
padding: 8px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #999;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.tt-dropdown-menu {
min-width: 160px;
margin-top: 2px;
padding: 5px 0;
background-color: #ffffff;
border: 1px solid #cccccc;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
background-clip: padding-box;

}
.tt-suggestion {
display: block;
padding: 3px 20px;
}
.tt-suggestion.tt-is-under-cursor {
color: #fff;
background-color: #428bca;
}
.tt-suggestion.tt-is-under-cursor a {
color: #fff;
}
.tt-suggestion p {
margin: 0;
}

.form-style {
    padding: 8px 12px;
    font-size: 14px;
    height: 38px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;  
}

.btn-dropdown {
    display: inline-block;
}

[data-invite='output'] {
    padding-bottom: 10px;
}