html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
    padding-top: 70px;
    background-color: #F6F6F6;
    color: #333339;
}

.navbar-brand img {
    height: 18px;
}

.block {
    overflow: auto;
    height: auto;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #5E5E5E;
    padding: 0px 0px 15px 0px;
}

.block h1 {
    font-size: 24px;
    margin: 10px 0px 10px 0px;
}

.block .line {
    font-size: 14px;
    line-height: 26px;
}

.block b {
    font-weight: 700;
}

.block .left {
    display: inline-block;
    float: left;
}

.block .right {
    display: inline-block;
    float: right;
    position: relative;
    height: 40px;
    transform: translateY(100%);
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;

	height: 60px;
	border-top: 1px solid #5E5E5E;
	line-height: 60px;
}

template {
	display: none;
}

#map_canvas {
	height: 675px;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.entry {
    overflow: auto;
    line-height: 22px;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.guide {
	height: 60px;
	background-color: #F8F8F8;
	width: 100%;
	padding: 0px 10px 0px 10px;
	margin: 0px 0px 10px 0px;
}

.guide ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.guide li {
	display: inline-block;
	cursor: pointer;
	padding-left: 10px;
	color: #5E5E5E;
    line-height: 60px;
    font-size: 24px;
}

.guide .active {
	/*//padding-bottom: 12px;*/
	border-bottom: 2px solid #DD4B39;
	color: #333;
}

.map_con {
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
	transition: width 2s;
}

.circles {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #4E5665;
    border-width: 1px;
    border-style: solid;
}

.circle {
    display: block;
    margin: 5px 10px 5px 10px;
    border-bottom: 1px solid #4E5665;
    height: 64px;
}

.circle:last-child {
    border: none;
}

.circle .switch {
    display: inline-block;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}
.circle h2, .circle p {
    display: inline-block;
    padding-left: 10px;
}

/* Join / Leave for Circles */

.switch {
    width: 80px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #4E5665;
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden;
}

.switch .true,
.switch .true_padding,
.switch .false,
.switch .false_padding {
    cursor: pointer;
    line-height: 30px;
    color: #FFFFFF;
    width: 40px;
    position: absolute;
    transition-property: left;
    transition-duration: 1s;
    transition-delay: .1s;
}

.switch .true, .switch .false {
    font-size: 10px;
    text-align: center;
    background: rgba(43,108,179,1);
    background: -moz-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,108,179,1)), color-stop(100%, rgba(4,75,143,1)));
    background: -webkit-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -o-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -ms-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: linear-gradient(to bottom, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6cb3', endColorstr='#044b8f', GradientType=0 );
}

.switch[data-switch='true'] .true,
.switch[data-switch='false'] .false {
    left: 40px;
}

.switch[data-switch='true'] .true_padding,
.switch[data-switch='false'] .false {
    left: 0px;
}

.switch[data-switch='true'] .false {
    left: -80px;
}

.switch[data-switch='true'] .false {
    left: -40px;
}

.switch[data-switch='false'] .true {
    left: 120px;
}

.switch[data-switch='false'] .true_padding {
    left: 80px;



/* Spin Kit */
.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
