body {
    /*margin-bottom: 60px;*/
    overflow: auto;
    padding-top: 20px;
    color: #262626;
    background-color: #F3F3F3;
}

.media-object {
    max-width: 64px !important;
}

.container {
    margin-left: 250px;
    width: auto;
}

.login {
    width: 600px;
    margin: 0px auto;
}

#output img {
    width: 300px;
}

img {
    max-width: 100%;
}

.fa-question {
    cursor: pointer;
}

/* full calendar */

.fc-event {
    font-size: 1.3em;
    line-height: 1.5;
}

/* Alert Hiding */

.hide-alert {
    opacity: 0;
    transition: opacity .5s;
}

/* Beta Warning */
.beta-warning {
    color: #D84937 !important;
    font-weight: 700;
    height: auto !important;
    font-size: 12px !important;
    line-height: 30px !important;
    padding-top: 10px;
}

.beta-warning a {
    display: inline !important;
    color: #D84937;
    text-decoration: underline !important;
    float: none !important;
    font-size: 12px !important;
}

.loading {
    display: block;
    height: 150px;
    text-align: center;
}

.loading i {
    line-height: 150px;
}

/* Data Location */
[data-location='output'] {
    padding-top: 10px;
}
[data-location='error'] {
    display: none;
    border-radius: 4px;
    border: 1px solid red;
    padding: 10px;
    margin: 5px 0px;
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
/* End */

/* Circle Hero */
.circle-hero {
    margin: 30px;
}

.circle-hero .title {
    display: block;
}

.circle-hero h1 {
    font-size: 32px;
    font-weight: 700;
    margin: 0px 20px 10px 0px;
    display: inline-block;
}

.circle-hero h4 {
    display: inline-block;
}
/* End */

/* Subnav */
.subnav {
    display: block;
    background-color: #512DA8;
    width: 100%;
    overflow: auto;
    top: 50px;
    position: fixed;
    text-align:center;
}
.subnav-center {
    display:inline-block;
    text-align:left;
    float: none;
}
/* End */

/* Nav */
.navbar {
    padding: 0 15px 0 15px;
    margin-bottom: 0px;
}

.nav-center-outer {
    width: 100%;
    min-height: 50px;
}

.nav-center {
    width: 280px;
    margin: 0px auto;
}

.nav-pin {
    position: fixed;
    top: 0;
    right: 0px;
}

.navbar-header {
    height: 50px;
    overflow: none;
}

.navbar .icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    vertical-align: top;
    float: left;
}

.navbar .navbar-brand {
    display: inline-block;
    height: 35px;
    line-height: 50px;
    font-weight: 500;
    font-size: 18px;
    padding: 0px 10px 0px 15px;
    margin: 0px;
    vertical-align: top;
    float: left;
}

.navbar .marker {
    height: 35px;
    color: white;
    fill: white;
    stroke: white;
    margin: 8px 0px 7px 0px;
}

.navbar .cla {
    height: 30px;
    line-height: 20px;
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    padding: 5px;
    margin: 10px 0px 10px 10px;
}

.navbar .cla a {
    color: #676767;
    font-size: 13px;
}

.navbar .cla i {
    color: #303F9F;
    font-size: 16px;
}

/* End */

/* Menu */
.menu {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0;
    border: 1px solid #9e9e9e;
    color: #212121;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.menu li {
    font-size: 16px;
    line-height: 38px;
    display: block;
    font-weight: 200;
    padding: 0px 0px 0px 15px;
    cursor: pointer;
}
.menu li:hover {
    background-color: #EEEEEE;
}
.menu li.active {
    background-color: #e0e0e0;
}
/* End */

/* Chip */
.chip {
    background-color: #E7E7E7;
    color: #424250;
    border-radius: 10px;
    font-size: 18px;
    line-height: 32px;
    margin: 3px 0px 3px 0px;
    padding: 5px 10px;
    overflow: auto;
}
/* End Chip */

/* List */
.list {
    /*padding: 10px 0px;*/
    position: relative;
    margin-top: 20px;
}

.list .dismiss {
    position: absolute;
    top: 0px;
    right: 20px;
    background-color: #ba4556;
    padding: 5px 7px;
    border-radius: 4px;
    cursor: pointer;
}

.list .dismiss i {
    color: white;
}

.list:last-child {
    margin-bottom: 20px;
}

.list .ctx {
    width: 40px;
    display: inline-block;
    font-size: 24px;
    color: white;
    background-color: #B2B2B2;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-left: 20px;
    vertical-align: top;
}

.list.noti .ctx {
    background-color: #ba4556;
}

.list .info {
    display: inline-block;
    padding: 0px 0px 15px 0px;
    border-bottom: 1px solid #B2B2B2;
    margin-left: 15px;
    width: calc(100% - 81px);
}

.list .title {
    font-size: 20px;
    line-height: 30px;
    color: #4D4D4D;
}

.list .title a {
    color: #3F51B5;
}

.list .sub {
    font-size: 15px;
    line-height: 28px;
    color: #616161;
    padding: 3px;
}

.list .sub i {
    padding: 0px 3px;
}

.list blockquote {
    padding: 10px 20px;
    margin: 0px 0px 5px;
    font-size: 14px;
}

.tag {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #000;
    font-size: 12px;
    padding: 1px 5px;
}

/* End */

/* Noti Badge */
.nbadge {
    position: absolute;
    right: 3px;
    bottom: 5px;
    min-width: 10px;
    padding: 2px 5px;
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    line-height: 1;
    text-align: center;
    background-color: #F36C60;
    border-radius: 3px;
}
/* End */

/* Location selection */
.locsec {

}
.locsec h1 {
    font-size: 24px;
    font-weight: 300;
}
.locsec h2 {
    font-size: 18px;
    font-weight: 200;
    color: #212121;
}
.locsec ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.locsec li {
    border-top: 1px solid #212121;
    padding: 0px 0px 15px 0px;
}
/*.locsec li:first-child {
    border-top: none;
    padding: 0px 0px 15px 0px;
}*/
/* End */

.comments a {
    text-decoration: none;
}

.key {
    display: inline;
    border-right: 1px solid #534A9A;
    padding: 0px 15px 0px 15px;
}

.key:first-child {
    padding-left: 0px;
}

.key:last-child {
    border: none;
}

.nav-sub {
    margin-bottom: 15px;
}

.panel {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #FFFFFF;
}

.panel-body.md {
    height: 250px;
    overflow-y: auto;
}

.panel-body.lg {
    height: 400px;
    overflow-y: auto; 
}

.panel-no {
    padding: 0px;
}

.panel-main {
    border-color: #534A9A;
}

.panel-main .panel-heading {
/*    background-color: #534A9A;
    border-color: #534A9A;*/
    background-color:  #3F51B5;
    border-color:  #3F51B5;
    color: #FFFFFF;
}

.panel-main .panel-heading a {
    color: white;
    text-decoration: underline;
}

.panel-message {
    padding: 15px;
}

.information {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.information li {
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    line-height: 32px;
    color: #212121;
}

.information b {
    font-weight: 400;
    color: #757575;
}

.block {
    width: 100%;
    display: block;
    overflow: auto;
    border-bottom: 1px solid #534A9A;
    padding: 15px;
}

.block:last-child {
    border-bottom: none;
}

.block .title {
    font-size: 20px;
    line-height: 32px;
    font-weight: 500;
    display: block;
}

/*.block .title a {
    color: #262626;
    text-decoration: underline;
}*/

.small a {
    font-size: 16px;
}

.block .details {
    display: block;
    color: #5A5A5A;
}

.block .details i {
    margin: 0px 3px 0px 3px;
}

/*.block .deta a {
    color: #5A5A5A;
}*/

.block .details .deta:first-child i {
    margin: 0px 3px 0px 0px;
}

.block .deta {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    height: 60px;
    border-top: 1px solid #5E5E5E;
    line-height: 60px;
}

template {
    display: none;
}

.map-container {
    height: 675px;
}

.map-container-sm {
    min-height: 435px;
    overflow: auto;
}

.map-container img,
.map-container-sm img {
    max-width: none !important;
}

#map_canvas  {
    width: 100%;
    height: 335px;
    margin: 0px;
    padding: 0px;
}

.entry {
    overflow: auto;
    line-height: 22px;
    font-size: 16px;
    padding: 5px 0px 5px 0px;
}

.guide {
    height: 60px;
    background-color: #F8F8F8;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin: 0px 0px 10px 0px;
}

.guide ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.guide li {
    display: inline-block;
    cursor: pointer;
    padding-left: 10px;
    color: #5E5E5E;
    line-height: 60px;
    font-size: 24px;
}

.guide .active {
    /*//padding-bottom: 12px;*/
    border-bottom: 2px solid #DD4B39;
    color: #333;
}

/* Switch */
.toggle {
    display: inline-block;
    float: right;
    width: 80px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-color: #4E5665;
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    margin-right: 20px;
}

.toggle .true,
.toggle .true_padding,
.toggle .false,
.toggle .false_padding {
    cursor: pointer;
    line-height: 30px;
    color: #FFFFFF;
    width: 40px;
    position: absolute;
    transition-property: left;
    transition-duration: 1s;
    transition-delay: .1s;
}

.toggle .true, .toggle .false {
    font-size: 10px;
    text-align: center;
    background: rgba(43,108,179,1);
    background: -moz-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(43,108,179,1)), color-stop(100%, rgba(4,75,143,1)));
    background: -webkit-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -o-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: -ms-linear-gradient(top, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    background: linear-gradient(to bottom, rgba(43,108,179,1) 0%, rgba(4,75,143,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b6cb3', endColorstr='#044b8f', GradientType=0 );
}

.toggle[data-toggle='true'] .true,
.toggle[data-toggle='false'] .false {
    left: 40px;
}

.toggle[data-toggle='true'] .true_padding,
.toggle[data-toggle='false'] .false {
    left: 0px;
}

.toggle[data-toggle='true'] .false {
    left: -80px;
}

.toggle[data-toggle='true'] .false {
    left: -40px;
}

.toggle[data-toggle='false'] .true {
    left: 120px;
}

.toggle[data-toggle='false'] .true_padding {
    left: 80px;
}
/* End */

.ntabs {
    background-color: #303F9F;
    list-style: none;
    padding: 0;
    margin: 0px 0px 15px 0px;
    display: table;
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.ntabs li {
    line-height: 45px;
    font-size: 17px;
    display: table-cell;
    width: 100%;
    color: #C5CAE9;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.ntabs .active {
    color: white;
    border-bottom: solid 3px white;
}

.ntabs li a {
    color: inherit;
    display: block;
}

@media (max-width: 768px) {
    body {
        padding-top: 0px;
    }
    .container {
        padding: 0px;
        margin-left: 70px;
    }
    .navbar .container {
        padding: 0px 15px 0px 15px;
    }
    .panel {
        margin-bottom: 0px;
    }
    .panel, .panel-heading {
        border-radius: 0px;
    }
    .alert {
        border-radius: 0px;
        margin: 0px;
    }
    #map_canvas {
        padding-right: 20px;
    }
    .padding {
        padding: 0px 15px 0px 15px;
    }
    #map_canvas {
        height: 300px;
    }
    .col-md-4 {
        margin: 10px 15px 10px 15px;
    }
    .ntabs li {
        font-size: 12px;
    }
}

/* Twitter Typeahead */

.twitter-typeahead {
    vertical-align: top;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-hint {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #999;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #428bca;
}

.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}

.tt-suggestion p {
    margin: 0;
}

.form-style {
    padding: 8px 12px;
    font-size: 14px;
    height: 38px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;  
}

/* End Twitter Typeahead */

.btn-dropdown {
    display: inline-block;
}

[data-invite='output'] {
    padding-bottom: 10px;
}

/* Header */

.splash {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url(dash.png);
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 450px;
    margin-bottom: 20px;
}

.splash .intro-text {
    padding-top: 50px;
    padding-bottom: 50px;
}

.splash .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

.splash .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4), 0px 0px 30px rgba(0, 0, 0, 0.075);
}

@media(min-width:768px) {
    .splash .intro-text {
        padding-top: 150px;
        padding-bottom: 200px;
    }

    .splash .intro-text .intro-lead-in {
        margin-bottom: 25px;
        font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
    }

    .splash .intro-text .intro-heading {
        margin-bottom: 50px;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
    }
}

/* End Header */

/**
 * Sidebar
 */
/* #592727 RED */
/* #2f5927 GREEN */
/* #30426a BLUE (default)*/
/* Sidebar background color */
/* Sidebar header and footer color */
/* Sidebar title text colour */
/*#627cb7*/
#sidebar-wrapper {
    background: #30426a;
    top: 0px;
    margin-left: -150px;
    left: -30px;
    width: 250px;
    position: fixed;
    height: 100%;
    z-index: 999;
    left: 150px;
}

.splash-icon {
    height: 140px;
    width: 250px;
    /*position: fixed;*/
    background: url('/static/img/wheel.svg') no-repeat scroll 50% 50% / 80px auto #3F51B5;
    left: 0px;
    top: 0px;
    transform: translateZ(0px);
}

.splash-icon h1 {
    padding: 0 0 0 10px;
    margin: 0;
    color: #FFFFFF;
    font-size: 48px;
    letter-spacing: -0.04em;
}

.splash-icon a {
    display: block;
    width: 100%;
    height: 100%;
}

/*ul.sidebar .sidebar-main a,*/

.sidebar-footer,
ul.sidebar .sidebar-list a:hover,
ul.sidebar .sidebar-list a.active,
#page-wrapper:not(.active) ul.sidebar .sidebar-title.separator {
    /* Sidebar header and footer color */
    background: #2d3e63;
}

ul.sidebar {
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 45px;*/
    padding: 0;
    margin: 0;
    list-style: none;
    text-indent: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 560px;
}

ul.sidebar .border-top {
    border-top: 1px solid #FFFFFF;
}

ul.sidebar li a {
    color: #fff;
    display: block;
    float: left;
    text-decoration: none;
    width: 250px;
}

ul.sidebar .sidebar-main {
    height: 65px;
    font-size: 0;
    white-space: nowrap;
    word-spacing: -1;
}

ul.sidebar .sidebar-main a {
    font-size: 18px;
    line-height: 65px;
    height: 65px;
    display: block;
    float: left;
    width: 80%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: normal;
    vertical-align: top;
    border-top: 1px solid #172951;
    border-bottom: 1px solid #172951;
}

ul.sidebar .sidebar-main .menu-icon {
    display: block;
    float: left;
    font-size: 18px;
    line-height: 63px;
    width: 20%;
    color: white;
    margin: 0px;
    white-space: normal;
    vertical-align: top;
    cursor: pointer;
    border-left: 1px solid #172951;
    border-top: 1px solid #172951;
    border-bottom: 1px solid #172951;
}

ul.sidebar .sidebar-main.inactive {
    height: 45px;
}

ul.sidebar .sidebar-main.inactive a {
    color: #b2bfdc;
    font-size: 14px;
    line-height: 45px;
    height: 45px;
}

ul.sidebar .sidebar-main.inactive .menu-icon {
    line-height: 43px;
}

ul.sidebar .sidebar-title {
  color: #738bc0;
  font-size: 12px;
  height: 35px;
  line-height: 40px;
  text-transform: uppercase;
}
ul.sidebar .sidebar-list {
  height: 40px;
}
ul.sidebar .sidebar-list a {
  text-indent: 25px;
  font-size: 15px;
  color: #b2bfdc;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
ul.sidebar .sidebar-list a:hover {
  color: #fff;
  border-left: 3px solid #e99d1a;
  text-indent: 22px;
}
ul.sidebar .sidebar-list a.active {
  color: #fff;
}
ul.sidebar .sidebar-list a:hover .menu-icon {
  text-indent: 25px;
}
ul.sidebar .sidebar-list .menu-icon {
  float: right;
  padding-right: 29px;
  line-height: 40px;
  width: 70px;
}

.menu-option .link {
    width: 80%;
    display: block;
    float: left;
}
.menu-option .down {
    width: 20%;
    display: block;
    height: 40px;
    float: left;
    text-indent: 0;
}
.menu-option i {
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 40px;
    display: block !important;
}

.menu-option .dropdown-menu {
    border: 1px solid #263238;
    border-radius: 0px;
    background-color: #546e7a;
}

.menu-option .dropdown-menu li a {
    background-color: #546e7a;
    color: #FFFFFF;
}

.menu-option .dropdown-menu li a:hover {
    background-color: #37474f;
    border-left: 3px solid #90a4ae;
}

[data-pull='in'], [data-pull='out'] {
    position: absolute;
    z-index: 10;
    color: white;
    font-size: 50px;
    cursor: pointer;
    right: 15px;
    top: 0px;
    display: none;
}

[data-pull] i {
    position: relative;
    z-index: -1;
}

@media (max-width: 768px) {
    .splash-icon {
        display: none;
    }
    .sidebar {
        display: none;
    }
    .sidebar.active {
        display: block;
    }

    .pull-out {
        display: none;
    }
    .pull-out.active {
        display: block;
    }
    .pull-in {
        display: none;
    }
    .pull-in.active {
        display: block;
    }

    #sidebar-wrapper {
        left: -30px;
    }
    #sidebar-wrapper.expand {
        left: 150px;
    }
    ul.sidebar {
      bottom: 0;
    /*}
    ul.sidebar .sidebar-title {
      display: none;
    }
    ul.sidebar .sidebar-title.separator {
      display: block;
      height: 2px;
      margin: 13px 0;
    }
    ul.sidebar .sidebar-list a:hover span {
      border-left: 3px solid #e99d1a;
      text-indent: 22px;
    }*/
}

.cwitch-container {
    max-height: 0px;
    transition: max-height 0.5s cubic-bezier(0, 1.05, 0, 1);
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
}

.cwitch-container.active {
    max-height: 200px;
}

ul.cwitch-list {
    overflow: auto;
    padding-left: 0px;
    width: 250px;
}

ul.cwitch-list li {
    color: #b2bfdc;
    display: block;
    text-decoration: none;
    width: 250px;
    text-indent: 25px;
    font-size: 15px;
    line-height: 40px;
}