

html, body {
  min-height:100%;
  background:#F7FAFC url(/images/luther2010/backgrounds/html-body-gradient-background.png) repeat-x; 
  background-image:-moz-linear-gradient(0 1000px 90deg, #F7FAFC, #CCDEEB); /* FF3.6 */
  background-image:-webkit-gradient(linear, 0 0, 0 1000, from(#CCDEEB), to(#F7FAFC)); /* Saf4+, Chrome */	
  font-family:Arial, Helvetica, sans-serif;
}
body {
 font-size:0.75em; /* 12px */
 line-height:1.5em; /* 12px * 1.5em = 18px */	
 margin:auto;
 padding:0;
 position:relative;
 width:964px;
}
/*body,
html {
    margin: 0;
    padding: 0;
    background: #e5cb8e;
    color: #000;
}

body { 
/*    font:small sans-serif;  
    min-width: 800px;
    }*/

h1 { 
    font-weight:normal; 
    margin-bottom:.4em; 
    
}

#titleblock {
    margin: 0 auto;
    width: 800px;
    height: 110px;
    background: #003175; 
    color: #fff;
    text-align: center;
}

#titleblock h1{
	padding:5px;
}

#titleblock h3{
	text-align:left;
	padding:5px;
	height:5px;
}


#mainfooter {
    margin: 0 auto;
    width: 800px;
    height: 35px;
    background: #003175;
    color: #fff;
    text-align: center;
}

titleblock#a {
    color: #fff;
}

#map_canvas {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

#instructions {
    width: 800px;
    height:140px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #EEE;
    background: #4C75AE;
}

#help {
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #EEE;
    background: #4C75AE;
}

#ridelist {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 20px;

}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#instructions table {
    margin: 0 auto;
}

td#filterside {
    margin-left: 12px;
    margin-right: 12px;
    border-left-style: solid;
    border-width: medium;
}

table#begend {
    margin-top: 7px;
    border-top-style: solid;
    border-width: 1px;
}


#rtablehead {
    margin: 0 auto;
    max-width: 800px;
    background: #4C75AE;
}

#rtablehead h2 {
    text-align: center;
    color: #eee;
}

#rtablehead p {
    text-align: center;
    color: #eee;
}

h1 span { 
    font-size:60%; 
    color:#666; 
    font-weight:normal; }


table { 
    border:none; 
    border-collapse: collapse; 
    width:100%; 
    }
    
td, th { vertical-align:top; padding:2px 3px; }
th { text-align:left; color:#666; padding-right:.5em; }

#main h2  {
    margin-left: 3px;
}

#main p  {
    margin-left: 10px;
    font-size: medium;
}

#main table  {
    margin-left: 10px;

}

#wrap   {
    background: #aaf;
    margin:0 auto;
    width: 820px;
}

#titlebar {
    background:#cc9;
    height: 120px;
}

#titlebar table {
    border:none; 
    border-collapse: collapse; 
    margin:0;
}

tr.odd {
    background-color: #DDF;
}

tr.sbodd {
    background-color: #DFD;
}

/*#titlebar h1 {
    font: 150% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
}
*/
/*#navbar {
    margin: 0 auto;
    background: #003175;
    height: 20px;
}

#navbar ul li {
    list-style: none;
    margin: 0;
    display: inline;
}

#navbar ul li a {
    padding: 0px 0.5em;
    margin-left: 3px;
    border: 1px solid #669;
    border-bottom: none;
    text-decoration: none;
}

#navbar a:link {
    color: #fff;
}

#navbar a:visited {
    color: #fff;
}

#navbar a:hover {
    background: #4C75AE;
}*/
#navbar {
 background:#004789 url(/images/luther2010/backgrounds/navbar-gradient-background.png) repeat-x;	
 background-image:-moz-linear-gradient(0 45% 90deg, #004789, #2561A8); /* FF3.6 */
 background-image:-webkit-gradient(linear,0 0,0 45%, from(#2561A8), to(#004789)); /* Saf4+, Chrome */
 font-size:1.166666em; /* 14px */ 
 line-height:1.285714em; /* 18px */
 margin:0 -7px 0.642857em;
 margin:0 0 0.642857em;
 overflow:auto;
 padding:0 15px;
}
#navbar ol,
#navbar ul {
 list-style:none;
 margin:0;
 padding:0;
}
#navbar li {
 float:left;
 font-weight:bold; 
 padding:0.928571em 0 1em;
 text-align:center;
 margin-right:10px;
}
#navbar a,
#navbar a:link,
#navbar a:visited,
#navbar a:hover,
#navbar a:active,
#navbar a:focus {
 color:#fff;
 padding:0 0.25em;
 text-decoration:none;
}

#leftbar {
    background: #B9D193;
    float: left;
    width:320px;
}

#main {
    background: #aaf;
    float: right;
    width: 500px;
}

#fullwidth {
    background: #cc9;

}


#main ul {
    list-style: none;
}

#footer {
    background: #cc9;
    clear: both;
    height: 60px;
}

input#id_dest {
    width: 19em;
}

input#id_start_state {
    width: 2em;
}

input#id_dest_state {
    width: 2em;
}

#cal1Container { 
    margin-right:10px;
    margin-bottom:10px;
    background: #fff;
}

.yui-skin-sam.yui-calendar.calnavleft {
    left: -1px;
    margin-left: 0em;
    background-position-x: 5px;
}

table.fieldWrapper {
    margin-left: 1em;
    margin-bottom: 1em;
}


td.destination {
    width:  15em;
}

.formerror {
    width: 60em;
    color: #f00;
}

tr.tripinfosection {
    border-bottom: 1px solid #999;
}

table.titletable {
    width: 550px;
}

table.titletable a:hover {
    background-color: #222;
    color: #B9D193;
}

li.optmenu {
    font: 150% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
/*    border: 1px solid #B9D193;*/
    text-align: left;
/*    width: 20em; */
    list-style-type: square;
}

li.optmenu a:hover {
/*    cursor: crosshair;  */
    color: #B9D193; 
    background-color: #222; 
    text-decoration: none;
    padding-bottom: 10px;    
    padding-top: 10px;
    }

img.bottombanner {
    width: 468px;
    margin-left: 176px;
    margin-right: auto;
}


img.topleft {
    float: left;
}

img.topright {
    float: right;
}


td.driverneeded {
    color: #F00;
}

#main p.mymessage {
    font-size: 100%;
}
