{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>Confirm Driver</h1>
</center>
{% endblock %}



{% block content %}
    <p>Thank you for volunteering to drive.  There is already a driver for this trip. </p>
    <form action="." method="POST" accept-charset="utf-8">
        <table border="0" cellspacing="5" cellpadding="5">
            {{form.as_table}}
        </table>
        <p><input type="submit" value="Continue &rarr;"></p>
    </form>
{% endblock %}