<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    {% block links %} {% endblock %}
    <title>{% block title %}Decorah Rideshare{% endblock %}</title>
</head>

<body>
<div id="wrap">
        
    <div id="titlebar">
        <img class="topleft" src="/static/sunset.jpg" width="234" height="120" alt="Gundersen">
        <img class="topright" src="/static/river.jpg" width="234" height="120" alt="Teamrehab">
        {% block titlebar %} {% endblock %}
        </div>
        <div id="navbar">
        <table class="titletable">
            <tr>
                {% if user.is_active %}
                    <td>
                    Hello {{user.first_name}}  {{user.last_name}}
                    </td>
                    <td><a href="/accounts/logout/">Logout</a></td>
                    <td><a href="/rideshare/get_my_trips/">My Trips</a></td> 
                {% else %}
                    <td><a href="/accounts/login/">Login</a></td>
                    <td><a href="/accounts/register/">Register</a></td>
                {% endif %}
                <td><a href="/rideshare/">Home</a></td>
                <td><a href="/rideshare/help/">Help</a></td> 
                <td><a href="/rideshare/contact/">Contact</a></td> 
                <td></td>               
            </tr>
        </table>
        
    </div>

    <div id="leftbar">
        {% block navcontent %}{% endblock %}
    </div>
    
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    
    <div id="footer">
        {% block footer %} 
        <strong>Beta</strong>
        <img class="bottombanner" src="/static/lowerbanner.jpg" width="800" alt="Db" >
        <strong>Beta</strong>
        {% endblock %}
    </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-7227258-2");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>