{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>{{ trip.destination.cat.cat_name }}</h1>
</center>
{% endblock %}


{% block content %}
    <h2>{{greet}}</h2>
    <table>
    <tr><td>To:</td> <td> {{trip.destination}}</td></tr> 
    <tr><td>From:</td> <td>{{trip.start_point}}</td></tr> 
    <tr><td>On:</td> <td>{{trip.date_of_trip}}</td></tr>
    <tr><td>Comments:</td> <td>{{trip.comment}}</td></tr>    
    <form action="." method="POST" accept-charset="utf-8">
    {% if trip.driver %}
        <tr class="tripinfosection"><td>Driver:</td> <td> {{trip.driver.first_name}} {{trip.driver.last_name}}</td></p>
    {% else %}
        <tr class="tripinfosection"><td></td><td class="driverneeded">There is no driver for this trip yet.</td></tr>
    {% endif %}
    <tr><td><h2>Driver Info</h2></td><td></td></tr>
        <tr><td><label for="id_drive">
    {% if trip.driver %}
            I will drive also
    {% else %}
            I am willing to drive
    {% endif %}            
        </label></td><td>{{form.drive}}</td></tr>
        <tr><td><label for="id_num_passengers">I can take</label></td><td>{{form.num_passengers}} passengers</td></tr>
    </table>
    {{form.trip}}
    <p><input type="submit" value="Continue &rarr;"></p>
    </form>

{% endblock %}