{% extends "sidebar_base.html" %}

{% block titlebar %}
    <h1>Decorah Rideshare</h1>
{% endblock %}

{% block content %}

<p>If you have any comments or questions about the Decorah Rideshare website please contact
    <a href="mailto:bmiller@luther.edu">Brad Miller</a> (bmiller@luther.edu), <br />
    <a href="http://knuth.luther.edu/~bmiller">My Homepage</a>  <br />
    Assistant Professor Computer Science <br />
    Luther College
    </p>

<p>This site is graciously sponsored by Winneshiek County Development Inc.</p>            
        
{% endblock %}
