{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>Trip Editor</h1>
</center>
{% endblock %}


{% block content %}

<p>

    <form action="." method="POST" accept-charset="utf-8">
        {% include "rideform.html" %}
        <p>There are {{num_riders}} riders for this trip.</p>
        <p>There are {{num_requests}} pending requested rides for this trip.</p>        
        <p><input type="submit"  name="submit" value="Update Trip">
           <input type="submit" name="submit" value="Cancel Trip">
        </p>
    </form>
    {% include "rideform_script.html" %}
{% endblock %}