{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>Trip Editor</h1>
</center>
{% endblock %}


{% block content %}

    
<table>
<tr><td>To:</td> <td> {{trip.destination}}</td></tr> 
<tr><td>From:</td> <td>{{trip.start_point}}</td></tr> 
<tr><td>On:</td> <td>{{trip.date_of_trip}}</td></tr>
<form action="." method="POST" accept-charset="utf-8">
{% if trip.driver %}
    <tr class="tripinfosection"><td>Driver:</td> <td> {{trip.driver.first_name}} {{trip.driver.last_name}}</td></p>
{% else %}
    <tr class="tripinfosection"><td></td><td>There is no driver for this trip yet.</td></tr>
{% endif %}
    <tr><td>{{form.drive}}</td>
        <td><label for="id_drive">
{% if trip.driver %}
        I will drive also
{% else %}
        I am willing to drive
{% endif %}            
    </label></td></tr>
    <tr><td><label for="id_num_passengers">I can take</label></td><td>{{form.num_passengers}} passengers</td></tr>
    <tr><td>{{form.remove_me}}</td>
        <td><label for="id_remove_me">I am not going, Remove me.</label> </td></tr>
</table>
{{form.trip}}
<p><input type="submit" value="Continue &rarr;"></p>
</form>


{% endblock %}