{% extends "sidebar_base.html" %}

{% block titlebar %}
    <h1>How to use Decorah Rideshare</h1>
{% endblock %}

{% block content %}
    <h2>What is Decorah Rideshare?</h2>
    <p>Decorah Rideshare can help you save gas and reduce the
        carbon footprint of the city of Decorah in four ways:</p>
        <ul>
            <li>You can find or start a carpool to your work.</li>
            <li>You can share a ride out of town. For example to the airport in Chicago
                or the Mall of America or just a shopping trip to Rochester</li>
            <li>You can set up a carpool to a high school sporting event</li>
            <li>Luther Students can share rides to and from home.</li>
        </ul>
        
    <p>The goal of Decorah Rideshare is to connect you with other people going to the
        same place you want to go without getting into too many details.  
        </p>
        
    <h2>Rideshare Etiquette</h2>
    <p>Decorah Rideshare does not pay drivers, you and the driver should work out your own
        arrangement for compensation.</p>
        
    <h2>How Does it Work?</h2>
    <p>First you will need to create an account.  You can create an account by clicking on the 
        register link at the top of this page.  You will be asked for your name, a password, and
        your email address.  Once you have entered this information you will get a confirmation
        email to make sure your address is correct.</p>
    <p>Next you can either select a trip from the left hand side of the window, or you
        can create your own ride by clicking on one of the main menu items.</p>
        <img src="/static/menu.png" width="480" alt="Menu">
        
    <p>Clicking on "Share a ride to an event" allows you to search for a school event at one
        of our neighboring towns.  You will need to provide the following information to set 
        up a new trip:
        <ul>
            <li>The name of the event</li>
            <li>The city and state the event is in</li>
            <li>The city you are leaving from (Normally Decorah)</li>
            <li>The date of the trip</li>
            <li>Whether you are willing to drive and the number of passengers you can take</li>
        </ul>
        The form is smart so it will search 
        for any events and cities that match what you are typing.  For example in the picture below
        entering the letter b in the Event Name displays Boys Football as well as Boys soccer.
        The form is also smart about finding cities that match what you are typing.  It is best to
        use these auto-completed names to avoid typos that may keep you from finding a
        matching ride.</p>
        <img src="/static/EnterData.png" width="480" alt="EnterData">
        
       <p>Clicking on any of the other main menu links will bring up a similar form.  It is 
           important to remember that the form will intelligently match events in the
           category represented by the link you clicked on.  So Boys Basketball games
           will not appear when you are looking for a ride to Rockwell.</p> 
           
        <p>The list of trips on the left side of the page is a convenient way to quickly find 
            popular or newly added trips.  Clicking on one of these trips will bring you to the
            Trip form will all of the data filled in for you already.  At this time you
            may choose to add yourself as a driver for this trip or simply click the find-a-ride 
            button to add yourself as a rider.</p>
            
        
{% endblock %}