{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>Welcome to Decorah Rideshare</h1>
</center>
{% endblock %}


{% block content %}

<p class="mymessage">Welcome to Decorah Rideshare.  Although this site is still in development, I hope it is
    a valuable tool for our community.  If something doesn't work right for you, or if you
    find something confusing please send me an email so I can continue to improve this service. <br/>
    Thanks, <br/>
    <a href="mailto:bmiller@luther.edu">Brad Miller</a> (bmiller@luther.edu)
    </p>

<center>
<h2>Rideshare Main Menu</h2>
</center>
<ul>
<li class="optmenu"><a href="/rideshare/newtrip/commute/">Share a Ride to Work</a></li>
<li class="optmenu"><a href="/rideshare/newtrip/dest/">Share a Ride out of Town</a></li>
<li class="optmenu"><a href="/rideshare/newtrip/event/">Share a Ride to a School Event</a></li>
<li class="optmenu"><a href="/rideshare/newtrip/home/">Luther Students: Share a Ride Home</a></li>
<li class="optmenu"><a href="/rideshare/get_my_trips/">View and Edit My Trips</a></li>
<li class="optmenu"><a href="/rideshare/report_all_trips/">Show All Trips</a></li>
</ul>

<hr />

<form action="/rideshare/quicksearch/" method="post">
    <p>Quick Search: {{quicksearch.terms}}
    <input type="submit" value="Find a Ride"></p>
</form>

<hr />

<center><h2>Decorah Rideshare Statistics</h2></center>
<p>{{user_count}} people are helping to reduce Decorah's carbon footprint!<p>
<p>{{trip_count}} rides have been shared.<p>

{# <center> #}
{# <h2>Green News</h2> #}
{# </center> #}
{#  #}
{# <ul> #}
{# {% for h in headlines %} #}
{#     <li>{{ h.title }}</li> #}
{# {% endfor %} #}
{# </ul> #}
<center>
    <h2>Rideshare Hints</h2>
</center>
<p>{{hint|safe}}</p>  {# |safe allows us to add html in the form...#}
{% endblock %}
