{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
<h1>My Upcoming Trips</h1>
</center>
{% endblock %}


{% block content %}
    <p>Click on any trip to make changes</p>
    
    <table>
        <tr><th>Date</th><th>Destination</th></tr>
    {% for trip in  my_trips %}
        <tr><td>{{trip.date_of_trip|default_if_none:"commute"}}</td><td><a href="/rideshare/edit_trip/{{trip.id}}/">{{trip.destination}}</a></td></tr>
    {% endfor %}
    </table>
    
{% endblock %}