{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
{% if trip.cat.cat_name %}
    <h1>{{ trip.cat.cat_name }}</h1>        
{% else %}
    <h1>Create a New Trip</h1>
{% endif %}

</center>
{% endblock %}


{% block content %}

<p>No matching trips were found.  To create a new trip, enter the information 
    below. Or Fill in some fields and search again </p>
    
    <form action="/rideshare/process_new_trip/" method="POST" accept-charset="utf-8">
        {% include "rideform.html" %}
        <center>
        <p><input type="submit"  name="submit" value="Create New">
            <input type="submit" name="submit" value="Search Again">
        </p>
        </center>
    </form>
    {% if rideform.errors %}
        <p class="formerror">Errors:  Fields marked with * are required</p>
    {% endif %}
    
    {% include "rideform_script.html" %}
{% endblock %}