<table class="fieldWrapper">
    <tr>
        <td>
            <span title="Select the kind of trip this is"><label for="id_trip_cat">Type of Trip:</label></span>
            {% if  rideform.trip_cat.errors %}
                <span class="formerror">*</span>
            {% else %}
                <span class="requiredfield">*</span>
            {% endif %}
        </td>
        <td>
        {{rideform.trip_cat}}
        </td>
    </tr>
    <tr>
        <td>
            {% if newtrip %}
            <span title="Simple Description. eg. Boys Football or Mall of America"><label for="id_dest">Description</label></span>
                            
            {% else %}
            <span title="{{cat.hover_message}}"><label for="id_dest">{{cat.dest_label}}</label></span>
            {% endif %}
            {% if rideform.dest.errors %}
                <span class="formerror">*</span>
            {% else %}
                <span class="requiredfield">*</span>
            {% endif %}
        </td>
        <td>
            <span title="{{cat.hover_message}}">{{ rideform.dest }}</span>
        </td>
    </tr>
    <tr>
        <td>
            <span title="The city you are going to"><label for="id_dest_city">To (City)</label></span>
            {% if  rideform.dest_city.errors %}
                <span class="formerror">*</span>
            {% else %}
                <span class="requiredfield">*</span>
            {% endif %}
        </td>
        <td>
            <span title="The city you are going to">{{ rideform.dest_city }}</span> State {{rideform.dest_state}}
        </td>
    </tr>
    <tr>
        <td>
            <span title="The city you are starting from"><label for="id_start_city">From (City)</label></span>
            {% if rideform.start_city.errors %}
                <span class="formerror">*</span>
            {% else %}
                <span class="requiredfield">*</span>
            {% endif %}  
        </td>
        <td>
            <span title="The city you are starting from">{{ rideform.start_city }}</span> State {{rideform.start_state}}
        </td>
    </tr>
    {% ifnotequal cat.cat_code 'commute'  %}
    <tr>
        <td>
            <span title="What day are you going?"><label for="id_trip_date">Date of Trip:</label></span>
            {% if rideform.trip_date.errors %}
                <span class="formerror">*</span>
            {% endif %}
        </td>
        <td>
            <table><tr><td><span title="What day are you going?">{{ rideform.trip_date }}</span> <br /> Click on calendar to <br />select a date</td> <td>  <span id="cal1Container" class=" yui-skin-sam"></span> </td></tr></table>
        </td>
    </tr>
    <tr>
        <td><span title="Write any extra helpful comments here.  What time you are leaving, what shift you are working, when you are coming back, etc."><label for="id_comment">Comments</label></span>
            {% if rideform.comment.errors %}
                <span class="formerror">*</span>
                {{ rideform.comment.errors }}
            {% endif %}
            </td>
        <td><span title="Write any extra helpful comments here.  What time you are leaving, what shift you are working, when you are coming back, etc.">{{rideform.comment}}</span></td>
    </tr>
    {% endifnotequal %}
</table>

