{% extends "sidebar_base.html" %}
    
{% block title %}
    Decorah Rideshare
{% endblock %}

{% block titlebar %}
<center>
    {% if cat %}
        <h1>{{ cat.cat_name }}</h1>        
    {% else %}
        <h1>QuickSearch Results</h1>
    {% endif %}

</center>
{% endblock %}


{% block content %}
    <p>We found one or more trips that match your request.

    Please Click on the trip that you want in the list below: </p>
    <table>
    {% for trip in trip_list %}
        <tr>
            <td>To:</td>
            <td><a href="/rideshare/finalize_exact_match/{{trip.id}}/">{{trip.destination}}</a></td>
            <td>On:</td>
            <td>{{trip.date_of_trip|default_if_none:"commute"}}</td>
        </tr>
        <tr>
            <td>From:</td>
            <td>{{trip.start_point}}</td>
            <td>Driver:</td>
            {% if trip.driver %}
            <td>{{trip.driver.first_name}} {{trip.driver.last_name}}</td>
            {% else %}
            <td>Driver Needed</td>
            {% endif %}

        </tr>
    {% endfor %}
    </table>
    
    <p>If you do not see the trip you want in this list <a href="/rideshare/">click here</a></p>
{% endblock %}