<html>
<head>
  <link rel="stylesheet" href="/static/style.css" />

  <!-- yui -->
  <link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/yui/build/assets/skins/sam/autocomplete.css" />
  <script type="text/javascript" src="http://127.0.0.1:8000/static/yui/build/utilities/utilities.js"></script>
  <script type="text/javascript" src="http://127.0.0.1:8000/static/yui/build/autocomplete/autocomplete-min.js"></script>
  <script type="text/javascript" src="http://127.0.0.1:8000/static/yui/build/datasource/datasource-beta-min.js"></script>
  <!-- /yui-->  
</head>

<body>
  <div class="yui-skin-sam">
    <form>
    {{ user_form.as_p }}
    </form>
  </div>
</body>

</html>
