{% extends "layout.html" %}

{% block title %}Calendar{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">
{% endblock %}

{% block main %}
<div class="panel panel-main">
    <div class="panel-heading">
        Calendar
    </div>
    <div class="panel-body">
        <div id="calendar">
            
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>
{% endraw %}

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.1/moment.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js" type='text/javascript'></script>



<script type="text/javascript">
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            events: {{rides}}
        });
    });
</script>

{% endblock %}