{% extends "layout.html" %}

{% block title %}Change Circles{% endblock %}

{% block head %}

{% endblock %}

{% block menu %}
<ul>
    <li>
        <a href="/home">Your Rides</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="{{logout}}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block main %}

 <h2>Change your circles! </h2>

<form name="circleForm" action="/updateCircles" method="post" >
    {% for circle in circles %}
        {% if circle.key.id in userCircles %}
            <input type="checkbox" name="circle" value="{{circle.key.id}}" checked>{{circle.name}}
            </br>
        {% else %}
            <input type="checkbox" name="circle" value="{{circle.key.id}}" >{{circle.name}}
            </br>
        {% endif %}
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% endblock %}