{% extends "layout.html" %}

{% block title %}Circles{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div data-route='all_circles'>
    <div class="panel panel-default">
        <div class="panel-body">
            This is a list of all public circles. You can join and leaves circles by toggling in / out.
        </div>
    </div>
    <div class="panel panel-main">
        <div class="panel-heading">All Circles</div>
        <div class="panel-body panel-no">
        {% if circles %}
            {% for circle in circles %}
            
            <div class="list">
                {% if circle.color %}
                <div class="ctx" style='background-color:{{circle.color}};'>
                {% else %}
                <div class="ctx">
                {% endif %}
                    <i class='fa fa-circle-o'></i>
                </div>
                <div class="info">
                    <div class="title">
                        {{circle.name}}
                        {% if circle.privacy == 'private' and circle.user %}
                        <div class="pull-right">
                            <button class="btn btn-success" data-request='{{circle.key().id()}}'>Request to Join</button>
                        </div>
                        {% endif %}
                        {% if circle.privacy == 'public' %}
                        {% if circle.user %}
                        <div class="toggle" data-id='{{circle.key().id()}}' data-switch='true'>
                        {% else %}
                        <div class="toggle" data-id='{{circle.key().id()}}' data-switch='false'>
                        {% endif %}
                            <div class="true_padding"></div>
                            <div class="true">In</div>
                            <div class="false_padding"></div>
                            <div class="false">Out</div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="sub">
                        {{circle.description}}
                    </div>
                </div>
            </div>  
            {% endfor %}
        {% else %}
            <div class="panel-message">
                No circles have been created yet.
            </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

{% endraw %}

<script src="static/augment.js" type="text/javascript"></script>
<script src="static/flow.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript">
    var flow = new Flow('all_circles');

    var switcher = function (e) {
        var target = e.target;
        if (!target.hasAttribute('data-switch')) {
            target = target.parentNode;
        }
        if (target.dataset.switch == 'true') {
            target.dataset.switch = 'false';
        } else {
            target.dataset.switch = 'true';
        }

        var user_block = document.querySelector('[data-circle="' + target.dataset.id + '"]');

        var data = {}
        data.user = {{ user.key().id() }}
        if (target.dataset.switch == 'true') {
            data.action = 'add';
            user_block.classList.remove('hidden');
        } else {
            data.action = 'remove';
            user_block.classList.add('hidden');
        }
        data.circle = target.dataset.id;

        
        var req = $.ajax({
            type: 'POST',
            url: '/join_circle',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });
    }

    var switchs = document.querySelectorAll('.switch');

    for (var i = 0; i < switchs.length; i++) {
        var current = switchs[i];
        current.addEventListener('click', switcher);
    }

    var send_request = function (id) {
        var req = $.ajax({
            type: 'POST',
            url: '/circle/' + id + '/request',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });

        req.done(function (data) {
            notify({
                type: 'success',
                strong: 'Request sent!'
            });
        });

        req.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Refresh and try again!'
            });
        });
    };

    document.body.addEventListener('click', function (e) {
        var target = e.target;

        if (target.dataset.request) {
            send_request(target.dataset.request);
        }
    });
</script>

{% endblock %}