{% extends "layout.html" %}

{% block title %}Circles{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div data-route='all_circles'>
    <div class="panel panel-default">
        <div class="panel-body">
            This is a list of all circles. You can join and leave public circles by toggling in / out. Private circles you must request to join.
        </div>
    </div>
    <div class="panel panel-main">
        <div class="panel-heading">All Circles</div>
        <div class="panel-body panel-no">
        {% if circles %}
            {% for circle in circles %}
            
            <div class="list">
                {% if circle.color %}
                <div class="ctx" style='background-color:{{circle.color}};'>
                {% else %}
                <div class="ctx">
                {% endif %}
                    <i class='fa fa-circle-o'></i>
                </div>
                <div class="info">
                    <div class="title">
                        {{circle.name}}
                        {% if circle.privacy == 'private'%}
                            {% if not circle.user %}
                            <div class="pull-right" style='margin-right:20px;'>
                                <button class="btn btn-success" data-request='{{circle.key().id()}}'>Request to Join</button>
                            </div>
                            {% else %}
                                <div class="toggle" data-id='{{circle.key().id()}}' data-toggle='true'>
                                    <div class="true_padding"></div>
                                    <div class="true">In</div>
                                    <div class="false_padding"></div>
                                    <div class="false">Out</div>
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if circle.privacy == 'public' or circle.privacy == None %}
                            {% if circle.user %}
                            <div class="toggle" data-id='{{circle.key().id()}}' data-toggle='true'>
                            {% else %}
                            <div class="toggle" data-id='{{circle.key().id()}}' data-toggle='false'>
                            {% endif %}
                                <div class="true_padding"></div>
                                <div class="true">In</div>
                                <div class="false_padding"></div>
                                <div class="false">Out</div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="sub">
                        {{circle.description}}
                    </div>
                </div>
            </div>  
            {% endfor %}
        {% else %}
            <div class="panel-message">
                No circles have been created yet.
            </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

{% endraw %}

<script type="text/javascript">
    var switcher = function (e) {
        var target = e.target;

        if (!target.hasAttribute('data-toggle')) {
            target = target.parentNode;
        }
        if (target.dataset.toggle == 'true') {
            target.dataset.toggle = 'false';
        } else {
            target.dataset.toggle = 'true';
        }

        var data = {};
        data.user = {{ user.key().id() }};
        if (target.dataset.toggle == 'true') {
            data.action = 'add';
        } else {
            data.action = 'remove';
        }
        data.circle = target.dataset.id;

        
        var join = $.ajax({
            type: 'POST',
            url: '/join_circle',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });

        join.done(function (data) {
            console.log('reload plz?')
            document.location.reload(true);
        });
    }

    var switchs = document.querySelectorAll('.toggle');

    for (var i = 0; i < switchs.length; i++) {
        var current = switchs[i];
        current.addEventListener('click', switcher);
    }

    var send_request = function (id) {
        var req = $.ajax({
            type: 'POST',
            url: '/circle/' + id + '/request',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8'
        });

        req.done(function (data) {
            notify({
                type: 'success',
                strong: 'Request sent!'
            });

        });

        req.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Refresh and try again!'
            });
        });
    };

    document.body.addEventListener('click', function (e) {
        var target = e.target;

        if (target.dataset.request) {
            send_request(target.dataset.request);
        }
    });
</script>

{% endblock %}