{% raw %}
<script data-comment='template' type='text/x-handlebars-template'>
    <div class="media">
        <a class="pull-left" href="#">
        <img src="/user/photo/{{user.id}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
        </a>
        <div class="media-body">
            <h4 class="media-heading">{{user.name}}</h4>
            {{comment}}
        </div>
        <span class="label label-success">Posted on {{date}}</span>
        {{#if is_owner}}
            <a href='/comment/{{id}}'>
                <span class='label label-primary'>Edit Comment</span>
            </a>
            <a href='/comment/{{id}}'>
                <span class='label label-danger'>Delete Comment</span>
            </a>
        {{/if}}
    </div>
    <hr>
</script>
{% endraw %}