
<html>
<head>

    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<script type="text/javascript">
    var directionsService = new google.maps.DirectionsService();
    var data = document.getElementById("data");
    var drivernum = data.getAttribute("drivernum");
    var rideArray = new Array();
    var rides = new Array();
    var driverRides = new Array();
    var table = document.getElementById("connectTable");
    var ndRides= new Array();
    var inList = new Array();

    var request = new XMLHttpRequest();
    var today = new Date();
    request.open("GET","/getrides?after="+today.getFullYear()+"-"+(today.getMonth()+1)+"-"+today.getDate(),false);
    request.send(null);
    if (request.status == 200) {
        // loop over all
        rides = eval(request.responseText);
    }

    for (var i=0;i<rides.length; i++){  //get driver rides
        if (rides[i].driver == drivernum){
            driverRides.push(rides[i]);
        }
        if (rides[i].driver == "needs driver"){ //get rides with no driver
            ndRides.push(rides[i]);
        }
    }




    rad = function(x) {return x*Math.PI/180;}

    distHaversine = function(p1, p2) {
        var R = 6371;
        var dLat  = rad(p2.lat() - p1.lat());
        var dLong = rad(p2.lng() - p1.lng());

        var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                Math.cos(rad(p1.lat())) * Math.cos(rad(p2.lat())) * Math.sin(dLong/2) * Math.sin(dLong/2);
        var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
        var d = R * c;

        return d.toFixed(3);
    }

    function connectRides(){
        for (var k=0;k<driverRides.length;k++){
            var dRide = driverRides[k];
            var request = {
                origin:new google.maps.LatLng(43.313059,-91.799501),
                destination:new google.maps.LatLng(dRide.destination_lat,dRide.destination_long),
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function(result, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    var pointsArray = result.routes[0].overview_path;
                    for (var i=0;i<pointsArray.length; i++){
                        for (var j=0;j<ndRides.length;j++){
                            if (drivernum != ndRides[j].driver && inList.indexOf(ndRides[j].key)==-1 && ndRides[j].num_passengers<= (dRide.max_passengers-dRide.num_passengers) &&(dRide.destination_title ==ndRides[j].destination_title || dRide.start_point_title ==ndRides[j].start_point_title)){
                                var distance = distHaversine(pointsArray[i],new google.maps.LatLng(ndRides[j].destination_lat,ndRides[j].destination_long));
                                if (distance <100){
                                    var row = table.insertRow(table.rows.length);
                                    var c0 = row.insertCell(0);
                                    c0.innerHTML = ndRides[j].num_passengers;

                                    var c1 = row.insertCell(1);
                                    c1.innerHTML = dRide.destination_title;

                                    var c2 = row.insertCell(2);
                                    c2.innerHTML = ndRides[j].destination_title;

                                    var c3 = row.insertCell(3);
                                    c3.innerHTML = ndRides[j].ToD;

                                    var c4 = row.insertCell(4);
                                    var rideID= ndRides[j].ID;
                                    c4.innerHTML = '<input type="radio" name="keys" value='+ndRides[j].key+"|"+dRide.key+' />';
                                    //rideArray.push(ndRides[j]);
                                    inList.push(ndRides[j].key);
                                }
                            }

                        }

                    }

                }

            });
        }
    }
    handleSwitch = function(){
        var request = new XMLHttpRequest();
        request.open("POST","/movepass",false);
        request.send(null);
}

    connectRides();
</script>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="/main">{{college.name}} Rideshare   </a></h1>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li>
                    <a href="/home">Your Rides</a>
                </li>
                <li>
                    <a href="/static/help.html">Help</a>
                </li>
                <li>
                    <a href="{{logout}}">Sign out</a>
                </li>
            </ul>
        </div>

        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">    
                    <div id="content">


                                <h1 id="data" drivernum={{drivernum}} style="display:none"></h1>

                                <form name="connectForm" action="handleSwitch()" method="post">
                                <table border="-1" id="connectTable">
                                    <tr>
                                    <th>Passenger Number</th>
                                    <th>Your Destination</th>
                                    <th>Their Destination</th>
                                    <th>Date</th>
                                    <th>Accept Passengers</th>
                                </table>
                                <input type="submit" value="Submit">
                                </form>



                                    </div> <!--content-->
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>

                    <div id="footer">
                        <p>Developed by Luther College</p>
                    </div>
                </body>
                </html>

