{% extends "layout.html" %}

{% block title %}Edit User{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
<div class="panel panel-main">
    <div class="panel-heading">Update Profile</div>
    <div class="panel-body">
        <form id='form'>
            <div class="form-group">
                <label>Name</label>
                <input type="text" class='form-control' placeholder='Name' name='name'>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type='email' class='form-control' placeholder='Email' name='email'>
            </div>
            <div class="form-group">
                <label>Phone</label>
                <input type='text' class='form-control' placeholder='Phone' name='phone'>
            </div>
            <div class="form-group">
                <label>ZIP</label>
                <input type="text" class='form-control' placeholder='ZIP' name='zip'>
            </div>
            <div class="form-group" data-location='address'>
                <label>Home Address</label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder='Address' required data-location='input'>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" data-location='search'>Search Address</button>
                    </span>
                </div>
                <span data-location='error'></span>
                <div data-location='output' class='hidden'>
                    <b>Results:</b> <span data-location='address'></span>
                </div>
            </div>
            <div class="form-group">
                <label>Profile Picture</label>
                <input type='file' name ='photo'>
                <div id="output"></div>
            </div>
            <button type='submit' class='btn btn-default'>Update information</button>
            <button type='button' class='btn btn-danger pull-right' data-user='delete'>Delete Account</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/js/push.js'></script>
<script src='/static/js/location.js'></script>
{% raw %}
{% endraw %}
<script type="text/javascript">
    var form = document.querySelector('#form');

    var ql_container = document.querySelector('[data-location="address"]');
    var ql = new QueryLocation(
        ql_container,
        {
            add: {{user.address | js}},
            lat: {{user.lat | js}},
            lng: {{user.lng | js}}
        }
    );

    var user_submit = new SubmitForm({
        form: form,
        model: {{user_json|safe}},
        method: 'POST',
        route: window.location.pathname,
        done: function (data) {
            console.log(data)
            notify({
                type: 'success',
                strong: 'Profile edited!',
                message: 'You have updated your profile'
            });
            document.location = '/user';
        },
        fail: function (message, status) {
            console.log(status)
            notify({
                type: 'danger',
                strong: 'Whoops',
                message: 'Something went wrong. Try again.'
            });
        },
        libs: [ql]
    });

    function getBase64Image(imgElem) {
        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');
        var ratio = 1;
        var max = 300;
        console.log(imgElem);

        if (imgElem.width > max) {
            ratio = max/imgElem.naturalWidth;
        } else if (imgElem.height > max) {
            ratio = max/imgElem.naturalHeight;
        }

        canvas.width = imgElem.width * ratio;
        canvas.height = imgElem.height * ratio;
        ctx.drawImage(imgElem,
            0, 0,
            imgElem.naturalWidth, imgElem.naturalHeight,
            0, 0,
            canvas.width, canvas.height
        );
        var dataURL = canvas.toDataURL("image/png");
        //return dataURL.replace(/^data:image\/(png|jpg);base64,/, "");
        return dataURL;
    }

    var file_input = document.querySelector('[type="file"]');

    file_input.addEventListener('change', disp_image);

    function disp_image (e) {
        var file = e.target.files[0];
        var output = document.querySelector('#output');
        var img = document.createElement('img');
        img.file = file;
        img.setAttribute('data-image', 'profile');
        output.appendChild(img);

        if (!file.type.match('image.*')) {
            console.log('Not an image.');
        }

        var reader = new FileReader();

        img.onload = function (e) {
            user_submit.set('photo', getBase64Image(img));
        };

        reader.onload = function (e) {
            img.src = e.target.result;            
        }.bind(this);

        reader.readAsDataURL(file);
    }



    var delete_account = document.querySelector('[data-user="delete"]');

    delete_account.addEventListener('click', function (e) {
        var req = $.ajax({
            type: 'POST',
            url: '/user/{{user.key().id()}}/delete',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
                delete: true
            })
        });

        req.done(function (data) {
            document.location = '/';
        });

        req.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Error.',
                message: 'This user could not be deleted. Please try again.'
            });
        });
    });
</script>
{% endblock %}
