{% extends "layout.html" %}

{% block title %}Edit Ride Details{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container">
    
</div>
<div class="panel panel-main">
    <div class="panel-heading">Edit Circle</div>
    <div class="panel-body">
        <form data-circle='edit'>
            <div class='form-group'>
                <label>Name</label>
                <input type='text' name='name' placeholder='Name' class='form-control'>
            </div>
            <div class='form-group'>
                <label>Description</label>
                <input type='text' name='description' placeholder='Description' class='form-control'>
            </div>
            <div class="form-group">
                <label>Privacy</label>
                <select class='form-control' name='privacy'>
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                </select>
                <p class="help-block">Public circles are visible to everyone. Private groups are invite only.</p>
            </div>
            <div class="form-group">
                <label>Color</label>
                <select class='form-control' name='color'>
                    <option value="#5677fc">Blue</option>
                    <option value="#ff9800">Orange</option>
                    <option value="#259b24">Green</option>
                    <option value="#e51c23">Red</option>
                    <option value="#009688">Teal</option>
                </select>
                <p class="help-block">Select a color for your circles so users will be able to identify and distinguish it easier.</p>
            </div>
            <button type='submit' class='btn btn-default'>Edit Circle</button>
            <button type='button' class='btn btn-danger pull-right'>Delete Circle</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/augment.js"></script>
<script src='/static/default.js'></script>
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong>
        {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
    var form = document.querySelector('#form');

    var def = new Default(form, {{ride_json|safe}});

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        var form = e.target;

        var data = {};
        def.get_values(data);

        var push = $.ajax({
            type: 'POST',
            url: window.location.pathname,
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });

        push.done(function (data) {
            notify({
                type: 'success',
                strong: 'Ride edited!',
                message: 'Your ride has been edited. All passengers have been notified.'
            });
        });

        push.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Ride not edited.',
                message: 'Try again.'
            });
        });
    });
</script>
{% endblock %}
