{% extends "layout.html" %}

{% block title %}Edit Ride Details{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container">
    
</div>
<div class="panel panel-main">
    <div class="panel-heading">Edit Comment</div>
    <div class="panel-body">
        <form id='form'>
            <div class="form-group">
                <label>Max Passengers</label>
                <select class="form-control" name='passengers_max'>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>
                    <option value='6'>6</option>
                    <option value='7'>7</option>
                    <option value='8'>8</option>
                </select>
            </div>
            <div class="form-group">
                <label>Date</label>
                <input class="form-control date-select" type="text" placeholder="Date" name='date'>
            </div>
            <div class="form-group">
                <label>Time</label>
                <input class="form-control" type="text" placeholder="Time" name='time'>
            </div>
            <div class="form-group">
                <label>Additional Details</label>
                <input class="form-control" type="text" placeholder="Details" name='details'>
            </div>
            <button type='submit' class='btn btn-default'>Edit Ride</button>
            <button type='button' class='btn btn-danger pull-right'>Delete Ride</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/augment.js"></script>
<script src='/static/default.js'></script>
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong>
        {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
    var form = document.querySelector('#form');

    var def = new Default(form, {{ride_json|safe}});

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        var form = e.target;

        var data = {};
        def.get_values(data);

        var push = $.ajax({
            type: 'POST',
            url: window.location.pathname,
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });

        push.done(function (data) {
            notify({
                type: 'success',
                strong: 'Ride edited!',
                message: 'Your ride has been edited. All passengers have been notified.'
            });
        });

        push.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Ride not edited.',
                message: 'Try again.'
            });
        });
    });
</script>
{% endblock %}
