{% extends "layout.html" %}

{% block title %}Edit Comment{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
<div class="panel panel-main">
    <div class="panel-heading">Edit Comment</div>
    <div class="panel-body">
        <form id='form'>
            <div class="form-group">
                <label>Text</label>
                <textarea class='form-control' name='text'>{{comment.text}}</textarea>
            </div>
            <button type='submit' class='btn btn-default'>Edit Comment</button>
            <button type='button' class='btn btn-danger pull-right'>Delete Comment</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong>
        <button data-back='true' class='btn btn-primary'>Go to previous page.</button>
    </div>
</script>
{% endraw %}
<script type="text/javascript">
    var form = document.querySelector('#form');

    document.body.addEventListener('click', function (e) {
        var target = e.target;

        if (target.dataset.back) {
            history.back();
            return false;
        }
    });

    form.addEventListener('submit', function (e) {
        e.preventDefault();

        var form = e.target;

        var data = {};
        data.text = form.text.value;

        var push = $.ajax({
            type: 'POST',
            url: window.location.pathname,
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });

        push.done(function (data) {
            notify({
                type: 'success',
                strong: 'Comment edited!'
            });
        });

        push.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Comment not edited.'
            });
        });
    });
</script>
{% endblock %}
