{% extends "layout.html" %}

{% block title %}Edit Event Details{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/datepicker.css">
{% endblock %}

{% block main %}
<div data-notify="container">
    
</div>
<div class="panel panel-main">
    <div class="panel-heading">Edit Event</div>
    <div class="panel-body">
        <form data-send="event">
            <div class="form-group">
                <label>Event Name</label>
                <input class="form-control" type="text" placeholder="Name" name='name' required>
            </div>
            <div class="form-group" data-location='event'>
                <label>Event Address</label>
                <div class="input-group">
                    <input class="form-control" type="text" placeholder='Address' name='address' required data-location='input'>
                    <span class="input-group-btn">
                        <button class="btn btn-info" type="button" data-location='search'>Search Address</button>
                    </span>
                </div>
                <span data-location='error'></span>
                <div data-location='output' class='hidden'>
                    <b>Results:</b> <span data-location='address'></span>
                </div>
                <div class="help-block">You must search for an address before submitting.</div>
            </div>
            <div class="form-group">
                <label>Location Description</label>
                <input class="form-control" type="text" placeholder="Name" name='location' required>
                <p class="help-block">Give a short description of where the event will take place. i.e. Decorah High School</p>
            </div>
            <div class="form-group">
                <label>Date</label>
                <div class='input-group date' data-datepicker data-date-format="MM/DD/YYYY">
                    <input class="form-control" type="text" placeholder="Date" name='date' required>
                    <span class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Time</label>
                <div class="input-group date" data-time='container'>
                    <input class="form-control" type="text" placeholder="Time" name='time' required data-time='input'>
                    <span class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Details</label>
                <input class="form-control" type="text" placeholder="Details" name='details'>
            </div>
            <button type='submit' class='btn btn-primary'>Edit Event</button>
            <button type='button' class='btn btn-danger pull-right' data-event='delete'>Delete Event</button>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/js/push.js'></script>
<script src='/static/js/location.js'></script>

<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js'></script>
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong>
        {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
    $('[data-datepicker]').datetimepicker({
        pickTime: false,
        defaultDate: '{{event_json.date}}'
    });

    $('[data-time]').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        },
        pickDate: false
    });

    var form = document.querySelector('[data-send="event"]');

    var ql_container = document.querySelector('[data-location="event"]');
    var ql = new QueryLocation(
        ql_container,
        {
            add: {{event.address | js}},
            lat: {{event.lat | js}},
            lng: {{event.lng | js}}
        }
    );

    var edit_event = new SubmitForm({
        form: form,
        model: {{event_json|safe}},
        method: 'POST',
        route: window.location.pathname,
        done: function (data) {
            document.location = '/event/' + data.id;
        },
        fail: function (data, status) {
            notify({
                type: 'danger',
                strong: 'Event not edited.',
                message: 'Try again.'
            });
        },
        libs: [ql]
    });



    var delete_event = document.querySelector('[data-event="delete"]');

    delete_event.addEventListener('click', function (e) {
        var request = $.ajax({
            type: 'POST',
            url: '/event/{{event.key().id()}}/delete',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
                delete: true
            })
        });

        request.done(function (data) {
            document.location = '/circle/{{event.circle.key().id()}}';
        });

        request.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Event not deleted.',
                message: 'Try again.'
            });
        });
    });
</script>
{% endblock %}
