{% extends "layout.html" %}

{% block title %}Events{% endblock %}

{% block head %}
{% endblock %}

{% block main %}

{% include 'includes/circle_header.html' %}

<div data-notify="container">
    
</div>

<div class="panel panel-main">
    <div class="panel-heading">Events</div>
    <div class="panel-body panel-no">
    {% if events_all %}
        {% for event in events_all %}
            <div class="list">
                <div class="ctx">
                    <i class="fa fa-location-arrow"></i>
                </div>
                <div class="info">
                    <div class="title">
                        <a href="/event/{{event.key().id()}}">{{event.name}}</a>
                    </div>
                    <div class="sub">
                        <div class="tag">
                            <i class="fa fa-calendar"></i>
                            {{event.date}}
                        </div>
                        <div class="tag">
                            <i class="fa fa-location-arrow"></i>
                            {{event.address}}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="panel-message">
            There are no events yet. Visit <a href="/map">the map</a> to create one.
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

{% endraw %}

{% endblock %}