{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div class="row">
	<div class="col-md-7">	
		<div class="panel panel-main">
			<div class="panel-heading">
				Get Started
			</div>
			<div class="panel-body">
				<h1>New to RideCirles? Let’s Get Started!</h1>

				<h3>Different Types of Circles</h3>
				<p>RideCircles is based on existing groups and circles that share events and destinations. Circles can be public, private, or invisible. Public circles can be joined by anyone at anytime. Private circles have administrators who invite potential members and approve requests to join by new members. These circles are visible to non-circle-members who can request to join. Invisible circles operate like private circles, but they cannot be seen by non-circle members.</p>

				<h3>Join a Circle</h3>
				<p>If you’ve been invited to join a circle, you can start by accepting the invitation. Otherwise, you can click on ‘join a circle’ on the navigation bar to the left. Once there, you can join public circles, or request to join private circles. You will immediately be admitted into public circles, but private circle membership will be pending until approved by the circle administrator.</p>

				<h3>Create a Circle</h3>
				<p>Click on ‘creat a circle on the navigation bar to the left. You can create a public, private, or invisible circle and invite guests via email to join. If you create a private or invisible circle, you will be the default administrator.</p>

				<h3>Create an Event</h3>
				<p>Events are created within different social circles, and an event must be created in order to offer or request a ride. To create an event, click on the relevant circle on your navigation bar to the left. The circle’s homepage will load, and in the right hand corner you will see a box listing current events. At the top right-hand corner of the box, click ‘create an event’ and follow the dialog boxes. Note that you must search for locations when prompted.</p>

				<!-- <h1>Create a Ride or Join an Existing Ride</h1> -->

				<h3>Create Rides</h3>
				<p>To offer a ride or request a ride to an event, click on the relevant ride circle. On the ride circle home page, locate the events box on the right-hand side. Find the event to which your ride is related, and click on it. Once the event page loads, you will see an ‘event details’ box on the upper left hand side. You may click ‘I need a ride to this event’ or ‘I can offer a ride to this event’ to create rides- then follow the dialog boxes to complete the process.</p>

				<h3>Join Existing Rides</h3>
				<p>To join a ride, follow the above process until you reach the event page. From there locate the ‘Rides offered to Event’ box on the lower left-hand side. You can click on any existing rides and follow the dialog boxes to complete the process.</p>

				<h3>My Dashboard</h3>
				<p>My Dashboard houses your profile, rides and notifications aggregated from all circles, and a list of the circles in which you are a member. Come here to edit your profile or have an at-a-glance view of your activity in all circles.</p>

			</div>
		</div>
	</div>
</div>

{% endblock %}