<div class="row hidden" data-help='container'>
	<div class="col-md-4">
		<ul class='list-group'>
			<a href="#q1" data-toggle='tab' class='list-group-item active'>
				How do I create a new event?
			</a>
			<a href="#q2" data-toggle='tab' class='list-group-item'>
				How can I ask for a ride?
			</a>
			<a href="#q3" data-toggle='tab' class='list-group-item'>
				How can I drive a ride?
			</a>
			<a href="#q4" data-toggle='tab' class='list-group-item'>
				How can I create a ride to an event?
			</a>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="tab-content">
			<div class="tab-pane active" id="q1">
				Create a new event by clicking 'Create a new Event' in the top panel. You will be asked to select an event location and supply a few additional details. After your event is created, you can view it by visiting the <a href='/events'>Events page</a>.
			</div>
			<div class="tab-pane" id="q2">
				You can ask for a ride by clicking 'Create a new Ride' in the top panel. You will be asked for the starting location of the ride and then select you are requesting a ride.
				<br>
				It is possible someone is offering a ride to where you want to go. Examine the map and the <a href='/rides'>Rides page</a> to find out.
			</div>
			<div class="tab-pane" id="q3">
				You can  create a ride by clicking 'Create a new Ride' in the top panel. You will be asked for the starting location of the ride and then select you will be the driver.
			</div>
			<div class="tab-pane" id="q4">
				You can create a ride to an event by finding the event on the map. Events are denoted by blue icons. Click on the icon and you will have the option to create a ride to that event.
			</div>
		</div>
	</div>
</div>