<div class="row hidden" data-help='container'>
	<div class="col-md-4">
		<ul class='list-group'>
			<a href="#q1" data-toggle='tab' class='list-group-item active'>
				What is an event?
			</a>
			<a href="#q2" data-toggle='tab' class='list-group-item'>
				What is a ride?
			</a>
			<a href="#q3" data-toggle='tab' class='list-group-item'>
				What is a trip?
			</a>
			<a href="#q4" data-toggle='tab' class='list-group-item'>
				How can I create a trip to an event?
			</a>
		</ul>
	</div>
	<div class="col-md-8">
		<div class="tab-content">
			<div class="tab-pane active" id="q1">
				Events are the best way to organize many trips to one locations. For example, you would want to create an event for a sporting event. Community members can sign into rideshare and then offer and ask for rides to the sporting event.
				<hr>
				To create a new event by clicking 'Create a new Event' in the top panel. You will be asked to select an event location and supply a few additional details. After your event is created, you can view it by visiting the <a href='/events'>Events page</a>.
			</div>
			<div class="tab-pane" id="q2">
				Rides are useful when you need to get from one location to another, but you need sometime to drive. For example, if you need to go from Decorah to Minneapolis next Saturday, then you should create a ride and see if anyone is willing to drive you.
				<hr>
				It is also possible someone is offering a trip to where you want to go. Examine the map and the <a href='/rides'>Rides page</a> to find out.
				<hr>
				You can create a ride by clicking 'Request a Ride'.
			</div>
			<div class="tab-pane" id="q3">
				Create a trip if you have organized a ride from one location to another and have extra room. You can help the community and environment by offering trips. If anyone is interested in joining your trip, they will join as a passenger and you will be notified.
				<hr>
				You can create a trip by clikcing 'Create a new Trip'.
			</div>
			<div class="tab-pane" id="q4">
				You can create a ride to an event by finding the event on the map. Events are denoted by blue icons. Click on the icon and you will have the option to create a ride to that event.
			</div>
		</div>
	</div>
</div>