{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block menu %}
<ul>
    <li>
        <a href="/home">Your Rides</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="{{logout}}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block main %}

<a href="/circles" class="btn btn-success">
    Join / Leave Circles
    <i class='fa fa-dot-circle-o'></i>
</a>
<a href="/map" class="btn btn-success">
    Create a Ride
    <i class='fa fa-dot-circle-o'></i>
</a>
{% endblock %}