{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<div data-notify='container'></div>
<div class="row hidden" data-help='container'>
    <div class="col-md-4">
        <ul class='list-group'>
            <a href="#q1" data-toggle='tab' class='list-group-item active'>
                What is an alert?
            </a>
            <a href="#q2" data-toggle='tab' class='list-group-item'>
                What is a notification?
            </a>
            <a href="#q3" data-toggle='tab' class='list-group-item'>
                Can I be emailed when I recieve an alert?
            </a>
        </ul>
    </div>
    <div class="col-md-8">
        <div class="tab-content">
            <div class="tab-pane active" id="q1">
                Alerts are important messages regarding rides you are connected to. You will be alerted if:

                If you are a passenger and the driver of the ride leaves.
                If you are a passenger and the ride gets a driver.
                If you are a driver and a passenger joins your ride.
                If you are a driver and a passenger leaves your ride.

                These alerts will always be shown on your home page but you can also receive these messages through email. Set your preferences by visiting your profile page.
            </div>
            <div class="tab-pane" id="q2">
                Notifications are reminders about upcoming rides. Notifications are shown on your home page.
            </div>
            <div class="tab-pane" id="q3">
                Yes! Visit your notification preference page.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-main">
            <div class="panel-heading">
                Ride Notifications
                <div class="pull-right">
                    <i class="fa fa-question" data-help='toggle'></i>
                </div>
            </div>
            <div class="panel-body panel-no">
                {% if ride_alerts %}
                    {% for ra in ride_alerts %}
                        <div class="list" data-parent=''>
                            <div class="ctx">
                                <i class="fa fa-paper-plane"></i>
                            </div>
                            <div class="info">
                                <div class="title">
                                    {{ra.message | safe}}
                                </div>
                                <div class="sub">
                                    {% if ra.details %}
                                    <a href="/ride/{{ra.details.id}}" class='btn btn-primary btn-sm'>
                                        <i class="fa fa-automobile"></i>
                                        {{ra.details.message}}
                                    </a>
                                    {% endif %}
                                    {% if ra.circle %}
                                    <a href="/circle/{{ra.circle.id}}" class='btn btn-primary btn-sm'>
                                        <i class="fa fa-circle-o"></i>
                                        {{ra.circle.name}}
                                    </a>
                                    {% endif %}
                                    <div class="tag">
                                        <i class="fa fa-calendar"></i> {{ra.date}}
                                    </div>
                                    <div class="tag">
                                        {{ra.type}}
                                    </div>
                                    <!-- <button class='btn btn-danger btn-xs' data-alert='' data-type='{{ra.type}}'>
                                        <i class="fa fa-times"></i>
                                        Dismiss
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="panel-message">
                    You do not have any notifications.
                </div>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-main">
            <div class="panel-heading">Quick options</div>
            <div class="panel-body panel-no">
                <div class="list">
                    <div class="ctx">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="/user">Account Info</a>
                        </div>
                    </div>
                </div>
                <div class="list">
                    <div class="ctx">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href="/#why_ridecircles">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-main">
            <div class="panel-heading">
                Circle Notifications
                <div class="pull-right">
                    <i class="fa fa-question" data-help='toggle'></i>
                </div>
            </div>
            <div class="panel-body panel-no">
                {% if site_notis %}
                {% for sn in site_notis %}
                    <div class="list">
                        <div class="ctx">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <div class="info">
                            <div class="title">
                                {{sn.message}}
                            </div>
                            <div class="sub">
                                {% if sn.circle %}
                                <a href="/circle/{{sn.circle.id}}" class='btn btn-primary btn-sm'>
                                    <i class="fa fa-circle-o"></i>
                                    {{sn.circle.name}}
                                </a>
                                {% endif %}
                                {% if sn.invited_by %}
                                <a href="/circle/{{sn.invited_by.id}}" class='btn btn-primary btn-sm'>
                                    <i class="fa fa-circle-o"></i>
                                    {{sn.invited_by.name}}
                                </a>
                                {% endif %}
                                <div class="tag">
                                    <i class="fa fa-calendar"></i>
                                    {{sn.date}}
                                </div>
                                {% if sn.type %}
                                <div class="tag">
                                    {{sn.type}}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="panel-message">
                        You do not have any upcoming events.
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="panel panel-main">
            <div class="panel-heading">My Circles</div>
            <div class="panel-body panel-no">
            {% if circles %}
                {% for circle in circles %}
                    {% if circle.user %}
                    <div class="list" data-circle='{{circle.key().id()}}'>
                    {% else %}
                    <div class="list hidden" data-circle='{{circle.key().id()}}'>
                    {% endif %}    
                        {% if circle.color %}
                        <div class="ctx" style='background-color:{{circle.color}};'>
                        {% else %}
                        <div class="ctx">
                        {% endif %}
                            <i class='fa fa-circle-o'></i>
                        </div>
                        <div class="info">
                            <div class="title">
                                <a href='/circle/{{circle.key().id()}}/change'>{{circle.name}}</a>
                            </div>
                            <div class="sub">
                                <a href='/circle/{{circle.key().id()}}/change'>
                                    Add rides & events for this circle
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="panel-message">
                    You have not joined any circles.
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    var send_req = function (id) {
        var push = $.ajax({
            type: 'POST',
            url: '/alert/' + id + '/dismiss',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify({
                id: id
            })
        });

        push.done(function (data) {
            var parent = document.querySelector('[data-parent="' + id + '"]');
            parent.parentNode.removeChild(parent);
        });

        push.fail(function (data, status) {
            notify({
                type: 'danger',
                strong: 'Whoops',
                message: 'Alert does not exist.'
            });
        });
    };

    document.body.addEventListener('click', function (e) {
        var target = e.target;

        if (target.dataset.alert) {
            send_req(target.dataset.alert);
        }
    });

/* Toggle Help */
var help = {};
help.btn = document.querySelector('[data-help="toggle"]');
help.container = document.querySelector('[data-help="container"]');

help.btn.addEventListener('click', function (e) {
    var target = e.target;

    help.container.classList.toggle('hidden');
});
/* End */
</script>

{% endblock %}