{% extends "layout.html" %}

{% block title %}Ride{% endblock %}

{% block head %}
<link rel="stylesheet" href="static/jquery.dataTables.css" type="text/css" media="screen" />
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15355461-1");
pageTracker._trackPageview();
} catch(err) {
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB15X6ti6tDQUQKjwPCI2zi3XFfxZW3MGM&sensor=false" type="text/javascript"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block main %}
<!-- <div class="guide">
    <ul>
        <li data-header='1' class="active">
            <span>Location</span>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li data-header='2'>
            <span>Type</span>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li data-header='3'>
            <span>Details</span>
            <i class="glyphicon glyphicon-chevron-right"></i>
        </li>
        <li data-header='4'>
            <span>Finished</span>
        </li>
    </ul>
</div> -->
<div class="container">

    <div>
        <div class="col-md-8 map_con" id='col_map'>
            <div id="map_canvas"></div>
        </div>
        <div class="col-md-4 map_con" id='col_dialog' data-slide="1" data-option="general">
            <div>
                <p>Click anywhere on the map to create a destination or starting point. You may want to zoom in first. You can add yourself to a ride by clicking on one of the red or green pushpins on the map.
                <br><br>
                Enter an address or filter the pushpins by date using the controls on the right.
                <br>
               </p>
            </div>
            <div>
                <form action="#" onsubmit="showAddress(this.address.value); return false">
                    <div class="form-group">
                        <label>Enter an address or city, state to create a ride:</label>
                        <input type="text" class="form-control" name="address">
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
        <div class="col-md-4 map_con" data-slide="2" data-option="general">
            <p>Are you creating a new event or an indivudal ride?</p>
            <button class="btn btn-primary" data-next="1:event">
                New Event
            </button>
            <button class="btn btn-primary" data-next="1:ride">
                Individual Ride
            </button>
            <hr>
            <button class="btn btn-default">Back</button>
        </div>
        <div class="col-md-6" data-slide="1" data-option="event">
            <form>
                <div class="form-group">
                    <label>Event Name event</label>
                    <input class="form-control" type="text" placeholder="Name">
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control" type="text" placeholder="Date" id="event-date">
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control" type="text" placeholder="Time">
                </div>
                <div class="form-group">
                    <label>Circle</label>
                    <select class="form-control">
                        <option>All</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-6" data-slide="1" data-option="ride">
            <p>Do you need a ride or can you drive?</p>
            <button class="btn btn-primary" data-next="2:ride">
                Need a Ride
            </button>
            <button class="btn btn-primary" data-next="3:ride">
                Driving
            </button>
        </div>
        <div class="col-md-6" data-slide="2" data-option="ride">
            <form>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control date-select" type="text" placeholder="Date">
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control" type="text" placeholder="Time">
                </div>
                <div class="form-group">
                    <label>Additional Details</label>
                    <input class="form-control" type="text" placeholder="Details">
                </div>
            </form>
        </div>
        <div class="col-md-6" data-slide="3" data-option="ride">
            <form>
                <p class="lead">Is this the starting or ending point?</p>
                <div class="form-group" >
                    <label>Location #1:
                        <span data-location="1"></span>
                    </label>
                    <select class='form-control' name='location_type' id='location_type_form'>
                        <option value="finish">Destination</option>
                        <option value="start">Starting Point</option>
                    </select>
                </div>
                <button class="btn btn-primary" data-next="4:ride" type='button'>
                    Next
                </button>
            </form>
        </div>
        <div class="col-md-6" data-slide="4" data-option="ride">
            <form>
                <p class="lead">
                    Select the 
                    <span id="location_type_disp"></span>
                </p>
                <div class="form-group" >
                    <label>Location #2:
                        <span id="location_2"></span>
                    </label>

                </div>
                <button class="btn btn-primary" data-next="5:ride" type='button' disabled='disabled' id="location_btn">
                    Next
                </button>
            </form>
        </div>
        <div class="col-md-6" data-slide="5" data-option="ride" >
            <form id='ride_form'>
                <p class="lead">Give us additional details</p>
                <div class="form-group">
                    <label>Max Passengers</label>
                    <select class="form-control" name='max_passengers'>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Date</label>
                    <input class="form-control date-select" type="text" placeholder="Date" name='date'>
                </div>
                <div class="form-group">
                    <label>Time</label>
                    <input class="form-control" type="text" placeholder="Time" name='time'>
                </div>
                <div class="form-group">
                    <label>Additional Details</label>
                    <input class="form-control" type="text" placeholder="Details" name='details'>
                </div>
                <button class="btn btn-primary" data-send="ride" type='button'>
                    Create Ride
                </button>
            </form>
        </div>
        <div data-loading class='col-md-4 hidden'>
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>




</div>
{% endblock %}

{% block scripts %}
{% raw %}
<template id="ride-template" type="text/x-handlebars-template">
    {{#if rides}}
    <table>
        <tr>
            <th>Driver</th>
            <th>Spots available</th>
            <th>Date</th>
            <th>Phone #</th>
            <th></th>
        </tr>
        {{#each rides}}
        {{with this}}
            <tr>
                <td>
                    {{#if drivername}}
                        {{drivername}}
                    {{else}}
                        No driver
                    {{/if}}
                </td>
                <td>
                    {{spots_available}}
                </td>
                <td>
                    {{ToD}}
                </td>
                <td>
                    {{contact}}
                </td>
                <td>
                    <button data-join-ride="{{id}}">Join</button>
                </td>
            </tr>
            td
        {{/with}}
        {{/each}}
    </table>
    {{else}}
    <p>There are currently no rides avaiable.</p>
    {{/if}}
    <button data-create-ride="{{event.id}}">Create Ride</button>
</template>
<template id="location-template" type="text/x-handlebars-template">
    <p>{{location}}</p>
</template>
<template id="event-template" type="text/x-handlebars-template">

</template>
{% endraw %}

<script src="static/augment.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js"></script>
<script src="static/json-template.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
<script src="static/jquery.dataTables.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<!-- <script src="static/jquery-ui-1.9.0.custom.min.js" type="text/javascript"></script> -->
<!-- <script src="static/functions.js" type="text/javascript"></script> -->
<!--  <script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyB15X6ti6tDQUQKjwPCI2zi3XFfxZW3MGM&sensor=true" type="text/javascript">
</script> -->
<script src="http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.9/src/markerclusterer.js" type="text/javascript"></script>
<script src="static/maps.js" type="text/javascript"></script>
<script src="static/flow.js" type="text/javascript"></script>


<script type="text/javascript">
// if(window.attachEvent) {
//     window.attachEvent('onload', yourFunctionName);
// } else {
//     if(window.onload) {
//         var curronload = window.onload;
//         var newonload = function() {
//             curronload();
//             initialize('{{message}}')
//         };
//         window.onload = newonload;
//     } else {
//         window.onload = initialize('{{message}}');
//     }
// }
function detectBrowser() {
  var useragent = navigator.userAgent;
  var mapdiv = document.getElementById("map_canvas");

  if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) {
    mapdiv.style.width = '100%';
    mapdiv.style.height = '100%';
  } else {
    mapdiv.style.width = '600px';
    mapdiv.style.height = '800px';
  }
}
var map = new Map();
var flow = new Flow();
map.set_flow(flow);
flow.set_map(map);
$('#event-date').datepicker();
$('.date-select').datepicker();
</script>
{% endblock %}