<!DOCTYPE html>
<html>
<head>

	<title>{% block title %}{% endblock %} - Rideshare</title>

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">

	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">

	<link rel="shortcut icon" sizes="1024x1024" href="/static/img/marker.png">
	<link rel="shortcut icon" sizes="128x128" href="/static/img/marker.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/static/img/marker.png">
	<link rel="apple-touch-icon-precomposed" sizes="1024x1024" href="/static/marker.png">

	{% block head %}
	{% endblock %}
</head>
<body>
	{% if user is defined %}
	<div id="sidebar-wrapper">
		<div class="splash-icon">
			<a href="/home"></a>
		</div>
		<ul class="sidebar">
		{% if user.circles %}
			<li class="sidebar-title separator first beta-warning">
				BETA. Please bear with us.
			</li>
			<li class="sidebar-title separator first beta-warning">
				Email <a href='mailto:nelsan06@luther.edu,kayla@energydistrict.org'>developer</a> with issues.
			</li>
			<!-- <li class="sidebar-title separator first">
				<span>ACTIVE CIRCLE (Click to switch)</span>
			</li>
			<li class="sidebar-main" data-cwitch='li'>
				<a href="/circle/{{active_circle.key().id()}}">
					{{active_circle.name}}
				</a>
				<span class="fa fa-caret-down" data-cwitch='caret'></span>
			</li> -->
			<li class="sidebar-title separator">
				<span>MY CIRCLES</span>
			</li>
			{% for circle in circle_list %}
			<li class='sidebar-list dropdown menu-option'>
				<!-- <div class=""> -->
					<a href="/circle/{{circle.key().id()}}" class='link'>{{circle.name}}</a>
					<div data-toggle="dropdown" class="dropdown-toggle down">
						<i class="fa fa-caret-down"></i>
					</div>
				<!-- </div> -->

				<ul class="dropdown-menu" role="menu">
					<li>
						<a href="/circle/{{circle.key().id()}}/map">
							Map
						</a>
					</li>
					<!-- <li>
						<a href="/circle/{{circle.key().id()}}/rides">
							Rides
						</a>
					</li> -->
					{% if user.key() in circle.admins %}
					<li>
						<a href="/circle/{{circle.key().id()}}/requests">
							Requests
						</a>
					</li>
					{% endif %}
				</ul>
			</li>
			{% endfor %}
			<!-- <li class='cwitch-container' data-cwitch='container'>
				<ul class='cwitch-list'>
					{% for circle in circle_list %}
					<li>
						<a href="/circle/{{circle.key().id()}}/change">{{circle.name}}</a>
					</li>
					{% endfor %}
				</ul>
			</li> -->
			<!-- <li class="sidebar-list">
				<a href="/map">
					Map
					<span class="menu-icon fa fa-map-marker"></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a href="/rides">
					Rides
					<span class="menu-icon fa fa-car"></span>
				</a>
			</li> -->
			<!-- <li class='sidebar-list'>
				<a href="/members">
					Members
					<span class='menu-icon fa fa-users'></span>
				</a>
			</li> -->
			<!-- <li class="sidebar-list">
				<a href="/events">
					Events
					<span class="menu-icon fa fa-calendar"></span>
				</a>
			</li> -->

		{% endif %}
			<hr>
			<li class="sidebar-list">
				<a href="/home">
					My Dashboard
					<span class="menu-icon fa fa-home"></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a href="/rides">
					My Rides
					<span class='menu-icon fa fa-car'></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a href="/circles">
					Join Circles
					<span class="menu-icon fa fa-plus-square-o"></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a href="/newCircle">
					Create Circles
					<span class="menu-icon fa fa-plus"></span>
				</a>
			</li>
			<li class="sidebar-list">
				<a href="/signout">
					Signout
					<span class="menu-icon fa fa-user"></span>
				</a>
			</li>
		</ul>
	</div>
	{% endif %}
    

	{% block wide %}{% endblock %}
	<div class="container" id='main_container'>
		{% block main %}{% endblock %}
	</div>

	<!-- <div id="footer">
		<div class="container">
			
		</div>
	</div> -->

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js'></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	<script src="/static/js/notify.js"></script>
	<script src="/static/js/augment.js"></script>
	<script>
		$('#tooltip-trial').tooltip({
			placement: 'right',
			title: 'Click to select',
			delay: {
				show: 100,
				hide: 500
			}
		});
		$(function () {
			var page_short = location.pathname.split("/")[1];
			var page_long = location.pathname;
			$('#sidebar-wrapper a[href="' + page_long + '"]').addClass('active');

			var circle2_switcher = document.querySelector('[data-cwitch="li"]');
			if (circle2_switcher) {
				switch (page_short) {
					case 'home':
					case 'user':
					case 'circles':
					case 'newCircle':
						circle2_switcher.classList.add('inactive');
						break;
				}
			}
		});

		var cwitch = {
			container: document.querySelector('[data-cwitch="container"]'),
			caret: document.querySelector('[data-cwitch="caret"]')
		};

		if (cwitch.caret) {
			cwitch.caret.addEventListener('click', function (e) {
				e.preventDefault();
				cwitch.container.classList.toggle('active');
				cwitch.caret.classList.toggle('fa-caret-down');
				cwitch.caret.classList.toggle('fa-caret-up');
			});
		}
	
	</script>
	{% block scripts %}
	{% endblock %}
</body>
</html>