<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %} - Rideshare</title>
<!-- 	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css" /> -->
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/styles.css">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0, user-scalable=no" name="viewport">
	<link rel="shortcut icon" sizes="1024x1024" href="/static/marker.png">
	<link rel="shortcut icon" sizes="128x128" href="/static/marker.png">
	<link rel="apple-touch-icon" sizes="1024x1024" href="/static/marker.png"><link rel="apple-touch-icon-precomposed" sizes="1024x1024" href="/static/marker.png">
	{% block head %}{% endblock %}

</head>
<body>
	<div id="wrapper">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/home">
						<!-- <img src="/static/marker.svg"> -->
						Luther Rideshare
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li>
					        <a href="/home">Your Rides</a>
					    </li>
					    <li>
	        				<a href="/main">Your Circles</a>
	    				</li>
					    <li>
	        				<a href="/map">Map</a>
	    				</li>
	    				<li>
	    					<a href="/rides">Rides</a>
	    				</li>
	    				<li>
	    					<a href="/events">Events</a>
	    				</li>
	    				<li>
					        <a href="/help">Help</a>
					    </li>
					    <li>
					        <a href="{{logout}}">Sign out</a>
					    </li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			{% block main %}{% endblock %}
		</div>

	</div>

	<div id="footer">
		<div class="container">
			Developed by Luther College
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js'></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
	<script src="static/notify.js" type="text/javascript"></script>
	{% block scripts %}
	{% endblock %}
</body>
</html>