{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block head %}
<script type="text/javascript">

</script>
{% endblock %}

{% block main %}
<div class="jumbotron">
    <h1>Welcome to {{community.name}} Rideshare!</h1>
    <p>To get started select how you would like to login:</p>
    <div class="btns">
        <a class='btn btn-primary' href='/auth/google'>
            <i class='fa fa-google'></i>
            Google
        </a>
        <a class='btn btn-primary' href='/auth/facebook'>
            <i class='fa fa-facebook'></i>
            Facebook
        </a>
        <a class='btn btn-primary' href='/auth/twitter'>
            <i class='fa fa-twitter'></i>
            Twitter
        </a>
    </div>
</div>


{% endblock %}
