{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block head %}

{% endblock %}

{% block menu %}
<ul>
    <li>
        <a href="/home">Your Rides</a>
    </li>
    <li>
        <a href="/main">Your Circles</a>
    </li>
    <li>
        <a href="/help">Help</a>
    </li>
    <li>
        <a href="{{logout}}">Sign out</a>
    </li>
</ul>
{% endblock %}

{% block main %}

<h1>Your Circles</h1>

<div class="btn-group">
    <div class="btn-group">
        <a href='/newCircle' class='btn btn-success btn-large'>
            Create a  Circle
            <i class='fa fa-plus-circle'></i>
        </a>
    </div>
    <div class="btn-group">
        <a href='/circles' class='btn btn-success btn-large'>
            Join/Leave a  Circle
            <i class='fa fa-dot-circle-o'></i>
        </a>
    </div>
</div>

{% for circle in circles %}
    <h2>
        <a href="/map?circle={{circle.key.id}}">{{ circle.name }}</a>
    </h2>

    {% for item in event_list %}

        {% if item.circle == circle.key.id %}
            <table >
                <tr>
                    <th>Event Name</th>
                    <th>Event Address</th>
                    <th>Event Date</th>
                    <th>Event Time</th>
                </tr>
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.ToD }}</td>
                    <td>{{ item.time }}</td>
                </tr>
            </table>
            </br>
        {% endif %}

    {% endfor %}
    <a href='/map?circle={{circle.key().id()}}' class='btn btn-success btn-large'>
        Add events for this circle
        <i class='fa fa-plus'></i>
    </a>
    <hr>
{% endfor %}

{% endblock %}