{% extends "layout.html" %}

{% block title %}Circles{% endblock %}

{% block head %}

{% endblock %}

{% block main %}
<ul class="ntabs">
    <li data-next="my_circles">
        My Circles
    </li>
    <li data-next="all_circles">
        All Circles
    </li>
    <li>
        <a href="/invites">
            Invites
        </a>
    </li>
    <li>
        <a href="/newCircle">
            <i class='fa fa-plus-circle'></i>
            Create Circle
        </a>
    </li>
</ul>

<div data-route='my_circles'>
    <div class="panel panel-default">
        <div class="panel-body">
            This is a list of circles you have joined. To leave these circles, switch over to All Circles.
        </div>
    </div>
    <div class="panel panel-main">
        <div class="panel-heading">My Circles</div>
        <div class='panel-body panel-no'>
        {% if circles %}
            {% for circle in circles %}
                {% if circle.user %}
                <div class="list" data-circle='{{circle.key().id()}}'>
                {% else %}
                <div class="list hidden" data-circle='{{circle.key().id()}}'>
                {% endif %}    
                    {% if circle.color %}
                    <div class="ctx" style='background-color:{{circle.color}};'>
                    {% else %}
                    <div class="ctx">
                    {% endif %}
                        <i class='fa fa-circle-o'></i>
                    </div>
                    <div class="info">
                        <div class="title">
                            <a href='/circle/{{circle.key().id()}}'>{{circle.name}}</a>
                        </div>
                        <div class="sub">
                            <a href='/map?circle={{circle.key().id()}}'>
                                Add events for this circle
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-message">
                You have not joined any circles.
            </div>
        {% endif %}
        </div>
    </div>
</div>

<div data-route='all_circles'>
    <div class="panel panel-default">
        <div class="panel-body">
            This is a list of all public circles. You can join and leaves circles by toggling in / out.
        </div>
    </div>
    <div class="panel panel-main">
        <div class="panel-heading">All Circles</div>
        <div class="panel-body panel-no">
        {% if circles %}
            {% for circle in circles %}
            {% if circle.privacy == 'public' %}
            <div class="list">
                {% if circle.color %}
                <div class="ctx" style='background-color:{{circle.color}};'>
                {% else %}
                <div class="ctx">
                {% endif %}
                    <i class='fa fa-circle-o'></i>
                </div>
                <div class="info">
                    <div class="title">
                        {{circle.name}}
                        {% if circle.user %}
                        <div class="switch" data-id='{{circle.key().id()}}' data-switch='true'>
                        {% else %}
                        <div class="switch" data-id='{{circle.key().id()}}' data-switch='false'>
                        {% endif %}
                            <div class="true_padding"></div>
                            <div class="true">In</div>
                            <div class="false_padding"></div>
                            <div class="false">Out</div>
                        </div>
                    </div>
                    <div class="sub">
                        {{circle.description}}
                    </div>
                </div>
            </div>  
            {% endif %}
            {% endfor %}
        {% else %}
            <div class="panel-message">
                No circles have been created yet.
            </div>
        {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

{% endraw %}

<script src="static/augment.js" type="text/javascript"></script>
<script src="static/flow.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

<script type="text/javascript">
    var flow = new Flow('my_circles');

    var switcher = function (e) {
        var target = e.target;
        if (!target.hasAttribute('data-switch')) {
            target = target.parentNode;
        }
        if (target.dataset.switch == 'true') {
            target.dataset.switch = 'false';
        } else {
            target.dataset.switch = 'true';
        }

        var user_block = document.querySelector('[data-circle="' + target.dataset.id + '"]');

        var data = {}
        data.user = {{ user.key().id() }}
        if (target.dataset.switch == 'true') {
            data.action = 'add';
            user_block.classList.remove('hidden');
        } else {
            data.action = 'remove';
            user_block.classList.add('hidden');
        }
        data.circle = target.dataset.id;

        
        var req = $.ajax({
            type: 'POST',
            url: '/join_circle',
            dataType: 'json',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(data)
        });
    }

    var switchs = document.querySelectorAll('.switch');

    for (var i = 0; i < switchs.length; i++) {
        var current = switchs[i];
        current.addEventListener('click', switcher);
    }
</script>

{% endblock %}