{% extends "layout.html" %}

{% block title %}Notification Preference{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
<div class="panel panel-main">
    <div class="panel-heading">Ride Alert Preferences</div>
    <div class="panel-body">
        <form data-form='alert'>
            <div class="panel panel-default">
                <div class="panel-body">
                You will recieve a ride alert on your dashboard and via your chosen notificaiton method when a person joins or leaves a ride you are connected to.
                </div>
            </div>
            <div class="form-group">
                <label>How long prior to scheduled departue would you like to be notified?</label>
                <select class='form-control' name='time'>
                    <option value="0">No notifications</option>
                    <option value="2">Within 2 hours</option>
                    <option value="6">Within 6 hours</option>
                    <option value="12">Within 12 hours</option>
                    <option value="24">Within 24 hours</option>
                    <option value="48">Within 48 hours</option>
                </select>
            </div>
            <div class="form-group">
                <label>How to notify:</label>
                <select class='form-control' name="type">
                    <option value='email'>Email me</option>
                </select>
            </div>
            <button type='submit' class='btn btn-default'>Update preferences</button>
        </form>
    </div>
</div>
<!-- <div class="panel panel-main">
    <div class="panel-heading">Circle Notification Preferences</div>
    <div class="panel-body">
        <form data-form='notification'>
            <div class="panel panel-default">
                <div class="panel-body">
                    Set your preferences to recieve notifications for important events.
                    You are notified if:
                    <ul>
                        <li>A circle admin sends a message to the group.</li>
                        <li>A person requests to join the circle.</li>
                    </ul>
                    Alerts always appear on your <a href='/home'>home page</a>. These preferences help you to be notified quicker.
                </div>
            </div>
            <div class="form-group">
                <label>How to notify:</label>
                <select class='form-control' name="type">
                    <option value='email'>Email me</option>
                    <option value='none'>Don't notify me</option>
                </select>
            </div>
            <button type='submit' class='btn btn-default'>Update preferences</button>
        </form>
    </div>
</div> -->
{% endblock %}

{% block scripts %}
<script src='/static/js/push.js'></script>
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
    var alert_form = document.querySelector('[data-form="alert"]');

    var push_alert = new SubmitForm({
        form: alert_form,
        model: {
            type: '{{user.noti_type}}',
            time: '{{user.noti_time}}'
        },
        method: 'POST',
        route: window.location.pathname,
        done: function (data) {
            console.log(data)
            notify({
                type: 'success',
                strong: 'Preferences edited!',
                message: 'You have updated your preferences.'
            });
        },
        fail: function (data, status) {
            console.log(status)
            notify({
                type: 'danger',
                strong: 'Whoops',
                message: 'Something went wrong. Try again.'
            });
        }
    });
</script>
{% endblock %}
