{% extends "layout.html" %}

{% block title %}Rides{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
<div class="panel panel-default">
    <div class="panel-body">
        Create a ride by visiting the <a href='/map'>map page</a>.
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4>Filter Rides</h4>
        Rides that:
        <ul class='menu'>
            <li data-filter='no_driver'>Need a Driver</li>
            <li data-filter='driver'>Have a Driver</li>
        </ul>
        Rides where:
        <ul class="menu">
            <li data-filter='user_passenger'>I'm a passenger</li>
            <li data-filter='user_driver'>I'm a driver</li>
        </ul>
        <ul class="menu">
            <li data-filter='current'>Current rides</li>
            <li data-filter='past'>Past & Current rides</li>
        </ul>
        <!-- <ul class="menu">
            <li data-filter='rides'>Only rides</li>
            <li data-filter='events'>Only events</li>
            <li data-filter='trips'>All trips</li>
        </ul> -->
    </div>
    <div class="col-md-8">
        <div class="panel panel-main">
            <div class="panel-heading">Results</div>
            <div class="panel-body panel-no" data-container='filter'>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

<script data-template='ride' type='text/x-handlebars-template'>
    <div class="list">
        <div class="ctx">
            <i class="fa fa-car"></i>
        </div>
        <div class="info">
            <div class="title">
                <a href='/ride/{{id}}'>
                    {{orig}} to {{dest}}
                </a>
            </div>
            <div class="sub">
                <div class='deta'>
                    <i class='fa fa-calendar'></i>
                    {{date}}
                </div>
            </div>
        </div>
    </div>
</script>

{% endraw %}

<script src="static/augment.js" type="text/javascript"></script>
<script src="static/flow.js" type="text/javascript"></script>
<script src="static/filter.js" type='text/javascript'></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script type="text/javascript">
var flow = new Flow('my_rides');
var filter = new Filter();
filter.action('past');
</script>

{% endblock %}