
<html>
<head>

    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />


</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">
                <h1><a href="/main">{{college.name}} Rideshare   </a></h1>
            </div>
        </div>

        <div id="menu">
            <ul>
                <li>
                    <a href="/home">Your Rides</a>
                </li>
                <li>
                    <a href="/static/help.html">Help</a>
                </li>
                <li>
                    <a href="{{logout}}">Sign out</a>
                </li>
            </ul>
        </div>

        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">    
                    <div id="content">


                                <h2>Total Rides: {{totalRides}} <br />
                                No Driver: {{noDriver}}<br />
                                No Passenger: {{noPass}}<br />
                                Good Rides: {{goodRide}} </h2>



                                    </div> <!--content-->
                                </div>
                            </div>
                        </div>
                        <div style="clear: both;"></div>

                    <div id="footer">
                        <p>Developed by Luther College</p>
                    </div>
                </body>
                </html>

