{% extends "layout.html" %}

{% block title %}Rides{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
<div class="panel panel-default">
    <div class="panel-body">
        Create a ride by visiting the <a href='/map'>map page</a>.
    </div>
</div>
<ul class="ntabs">
    <li data-next="my_rides">
        My Rides
    </li>
    <li data-next="all_rides">
        All Rides
    </li>
</ul>
<div data-route='my_rides'>
    <div class="panel panel-main">
        <div class="panel-heading">My Rides</div>
        <div class="panel-body panel-no">
        {% if rides_user %}
        {% for ride in rides_user %}
            <div class="list">
                <div class="ctx">
                    <i class="fa fa-car"></i>
                </div>
                <div class="info">
                    <div class="title">
                        <a href='/ride/{{ride.key().id()}}'>
                            {{ride.orig}} to {{ride.dest}}
                        </a>
                    </div>
                    <div class="sub">
                        {% if ride.is_driver %}
                        <div class="deta">
                            <span class="label label-success">Driver</span>
                        </div>
                        {% endif %}
                        {% if ride.is_passenger %}
                        <div class="deta">
                            <span class="label label-success">Passenger</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="panel-message">
            You are not signed up for any rides currently.
        </div>
        {% endif %}
        </div>
    </div>
</div>

<div data-route='all_rides'>
    <div class="panel panel-main">
        <div class="panel-heading">All Rides</div>
        <div class="panel-body panel-no">
        {% if rides_all %}
        {% for ride in rides_all %}
            <div class="list">
                <div class="ctx">
                    <i class="fa fa-car"></i>
                </div>
                <div class="info">
                    <div class="title">
                        <a href='/ride/{{ride.key().id()}}'>
                            {{ride.orig}} to {{ride.dest}}
                        </a>
                    </div>
                    <div class="sub">
                        {% if ride.is_driver %}
                        <div class="deta">
                            <span class="label label-success">Driver</span>
                        </div>
                        {% endif %}
                        {% if ride.is_passenger %}
                        <div class="deta">
                            <span class="label label-success">Passenger</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% else %}
        <div class="panel-message">
            No rides have been created.
        </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% raw %}

<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>

{% endraw %}

<script src="static/augment.js" type="text/javascript"></script>
<script src="static/flow.js" type="text/javascript"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>


<script type="text/javascript">
var flow = new Flow('my_rides');
</script>

{% endblock %}