{% extends "layout.html" %}

{% block title %}Circle{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
{% if invite %}
<div class="panel panel-default">
    <div class="panel-body">
        You have been invited to this circle by {{invite.sender.name}}.
        Visit the <a href='/circles'>circles page</a> to accept the invite.
    </div>
</div>
{% endif %}
<ul class="ntabs">
    <li data-next="details">
        Details
    </li>
    <li data-next="members">
        Members
    </li>
    {% if is_admin and circle.privacy == 'private' %}
    <li data-next='requests'>
        Requests to Join
    </li>
    {% endif %}
    <li>
        <a href="/circle/{{circle.key().id()}}/invite">
            Invite 
        </a>
    </li>
</ul>

<div data-route='details'>
    <div class="panel panel-main">
        <div class="panel-heading">Circle details</div>
        <div class="panel-body">
            <ul class='information'>
                <li>
                    <b>Name: </b> {{circle.name}}
                </li>
                <li>
                    <b>Description:</b> {{circle.description}}
                </li>
            </ul>
            <a href='/map' class='btn btn-success btn-large'>
                Add rides & events for this circle
                <i class='fa fa-plus'></i>
            </a>
            {% if is_admin %}
                <a class="btn btn-primary" href='/circle/{{circle.key().id()}}/edit'>Manage Circle</a>
                <button class='btn btn-primary'>Send message to all circle members</button>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class='comments'>
                <div class="panel panel-main">
                    <div class="panel-heading">Comments</div>
                    <div class="panel-body" data-comment='container'>
                        <form data-comment='form' autocomplete='off'>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class='form-control' rows='3' name='comment'></textarea>
                            </div>
                            <button type='submit' class='btn btn-primary'>
                                Post Comment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-main">
                <div class="panel-heading">Notifications - Messages from {{circle.name}}</div>
                <div class="panel-body">
    <div class="media">
        <a class="pull-left" href="#">
            <img src="/user/photo/{{posting.id}}" style="width: 64px; height: 64px;" class="media-object img-circle" alt="64x64">
        </a>
        <div class="media-body">
            <h4 class="media-heading">
                <a href='/user/{{posting.id}}'>
                    {{posting.name}}
                </a>
            </h4>
            {{posting.message}}
        </div>
        <span class="label label-success">Posted on {{posting.date}}</span>
    </div>
    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-route='members'>
    <div class="panel panel-main">
        <div class="panel-heading">Members of Circle</div>
        <div class="panel-body">
        {% for member in members %}
            <div class="media">
                <a href="#" class='pull-left'>
                    <img src="/user/photo/{{member.key().id()}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
                </a>
                <div class="media-body">
                    <div class="pull-left">
                        <h4>{{member.name}}</h4>
                    </div>
                    {% if is_admin %}
                    <div class="pull-right">
                        <div class="options">
                            <button class='btn btn-success' data-promote='{{member.key().id()}}'>Promote to Admin</button>
                            <button class='btn btn-danger' data-kick='{{member.key().id()}}'>Kick Member</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<div data-route='requests'>
    <div class="panel panel-main">
        <div class="panel-heading">
            Requests to Join
        </div>
        <div class="panel-body">
            {% for request in requests %}
                <div class="media">
                    <a href="#" class='pull-left'>
                        <img src="/user/photo/{{request.key().id()}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
                    </a>
                    <div class="media-body">
                        <div class="pull-left">
                            <h4>{{request.name}}</h4>
                        </div>
                        {% if is_admin %}
                        <div class="pull-right">
                            <div class="options">
                                <button class='btn btn-success' data-accept='{{request.key().id()}}'>Accept to Circle</button>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="send-message" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form data-form='register'>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">Send Message</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Message text</label>
                    <textarea class='form-control' name='message' rows='3'></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-default">Send Message</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src='/static/push.js'></script>
<script src='/static/comment.js'></script>
<script src="/static/flow.js"></script>

{% include 'comment.html' %}
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
var comment = new Comment({
    type: 'circle',
    id: {{circle.key().id()}},
    container: '[data-comment="container"]'
});

var flow = new Flow('details');

/* Send Accepts */
var send_accept = function (id) {
    var req = $.ajax({
        type: 'POST',
        url: '/circle/{{circle.key().id()}}/accept',
        dataType: 'json',
        contentType: 'application/json; charset=UTF-8',
        data: JSON.stringify({
            'user': id
        })
    });

    req.done(function (data) {
        notify({
            type: 'success',
            strong: 'Member accept!'
        });
        document.location.reload(true);
    });

    req.fail(function (data, status) {
        notify({
            type: 'danger',
            strong: 'Refresh and try again!'
        });
    });
};

document.body.addEventListener('click', function (e) {
    var target = e.target;

    if (target.dataset.accept) {
        send_accept(target.dataset.accept);
    }
});

    var send_message = new SubmitForm({
        form: document.querySelector('[data-form="message"]'),
        model: {
            message: ''
        },
        method: 'POST',
        route: '/circle/{{circle.key().id()}}/message',
        done: function (data) {
            notify({
                type: 'success',
                strong: 'Message sent!',
                message: 'Your group has been notified.'
            });
        },
        fail: function (message, status) {
            notify({
                type: 'danger',
                strong: 'Oh no!',
                message: 'Something went wrong. Try again.'
            });
        }
    });
/* End */
</script>
{% endblock %}