{% extends "layout.html" %}

{% block title %}Circle{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div data-notify="container"></div>
{% if invite %}
<div class="panel panel-default">
    <div class="panel-body">
        You have been invited to this circle by {{invite.sender.name}}.
        Visit the <a href='/circles'>circles page</a> to accept the invite.
    </div>
</div>
{% endif %}
<ul class="ntabs">
    <li data-next="details">
        Details
    </li>
    <li data-next="rides">
        Rides
    </li>
    <li data-next="events">
        Events
    </li>
    <li>
        <a href="/circle/{{circle.key().id()}}/invite">
            Invite
        </a>
    </li>
</ul>

<div data-route='details'>
    <div class="panel panel-main">
        <div class="panel-heading">Circle details</div>
        <div class="panel-body">
            <ul class='information'>
                <li>
                    <b>Name: </b> {{circle.name}}
                </li>
                <li>
                    <b>Description:</b> {{circle.description}}
                </li>
            </ul>
            <a href='/map?circle={{circle.key().id()}}' class='btn btn-success btn-large'>
                Add events for this circle
                <i class='fa fa-plus'></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class='comments'>
                <div class="panel panel-main">
                    <div class="panel-heading">Comments</div>
                    <div class="panel-body" data-comment='container'>
                        <form data-comment='form' autocomplete='off'>
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea class='form-control' rows='3' name='comment'></textarea>
                            </div>
                            <button type='submit' class='btn btn-primary'>
                                Post Comment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-main">
                <div class="panel-heading">Members of Circle</div>
                <div class="panel-body">
                    {% for member in members %}
                        <div class="media">
                            <a href="#" class='pull-left'>
                                <img src="/user/photo/{{member.key().id()}}" style="width: 64px; height: 64px;" class="media-object" alt="64x64">
                            </a>
                            <div class="media-body">
                                <h4>{{member.name}}</h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div data-route='rides'>
    <div class="panel panel-main">
        <div class="panel-heading">Rides</div>
        <div class="panel-body panel-no">
        {% if rides %}
            {% for ride in rides %}
                <div class="block">
                    <div class="title">
                        <a href='/ride/{{ride.key().id()}}'>{{ride.orig}} to {{ride.dest}}</a>
                    </div>
                    <div class="details">
                        {% if ride.is_driver %}
                        <div class="deta">
                            <span class="label label-success">Driver</span>
                        </div>
                        {% endif %}
                        {% if ride.is_passenger %}
                        <div class="deta">
                            <span class="label label-success">Passenger</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
        <div class="panel-message">
            You are not signed up for any rides currently.
        </div>
        {% endif %}
        </div>
    </div>
</div>
<div data-route='events'>
    <div class="panel panel-main">
        <div class="panel-heading">Events</div>
        <div class="panel-body panel-no">
        {% if events_all %}
            {% for event in events %}
                <div class="block">
                    <div class="title">
                        <a href='/event/{{event.key().id()}}'>{{event.name}}</a>
                    </div>
                    <div class="details">
                        <div class="deta">
                            <i class="fa fa-calendar"></i> {{event.date}}
                        </div>
                        <div class="deta">
                            <i class="fa fa-location-arrow"></i> {{event.address}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-message">
                There are no events yet. Visit <a href="/map">the map</a> to create one.
            </div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/augment.js" type="text/javascript"></script>
<script type="text/javascript" src='/static/comment.js'></script>
<script src="/static/flow.js" type="text/javascript"></script>

{% include 'comment.html' %}
{% raw %}
<script data-notify="template" type='text/x-handlebars-template'>
    <div class="alert alert-{{type}} alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{strong}}</strong> {{message}}
    </div>
</script>
{% endraw %}
<script type="text/javascript">
var comment = new Comment({
    type: 'circle',
    id: {{circle.key().id()}},
    container: '[data-comment="container"]'
});
var flow = new Flow('details');
</script>
{% endblock %}