{% extends "layout.html" %}

{% block title %}Event{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="panel panel-main">
	<div class="panel-heading">Event details</div>
	<div class="panel-body">
		<ul class="information">
			<li>
				<b>Event name:</b> {{event.name}}
			</li>
			<li>
				<b>Description:</b> {{event.description}}
			</li>
			<li>
				<b>Date: </b> {{event.date}}
			</li>
		</ul>
	</div>
</div>
<div class="panel panel-main">
	<div class="panel-heading">Rides going to Event</div>
	<div class="panel-body panel-no">
		{% for ride in rides %}
			<div class='block'>
				<div class="title">
					<a href="/ride/{{ride.key().id()}}">{{ride.orig}} to {{ride.dest}}</a>
				</div>
				<div class="details">
					<div class="deta">
						<i class="fa fa-calendar"></i> {{ride.date}}
					</div>
					|
					{% if ride.is_driver %}
						<div class="deta">
							<i class="fa fa-automobile"></i> Driver
						</div>
					{% elif ride.is_passenger %}
						<div class="deta">
							<i class="fa fa-automobile"></i> Passenger
						</div>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}